[2015-07-14 23:20] glauberramos opened #1 "Line breaks not working on cards text"

[2015-07-14 23:20] glauberramos opened #2 "Text overlaping card and card controls (edit and other buttons)"

[2015-07-14 23:21] glauberramos opened #3 "Being able to create different boards and have a url for it"

[2015-07-14 23:22] glauberramos opened #4 "Being able to merge 2 cards"

[2015-07-14 23:22] glauberramos opened #5 "Homepage for the project"

[2015-07-14 23:23] glauberramos opened #6 "Different templates of columns"

[2015-07-14 23:23] glauberramos opened #7 "Website URL for firedeaz"

[2015-07-14 23:23] glauberramos opened #8 "Being able to move cards from different columns"

[2015-07-14 23:25] glauberramos opened #9 "Login using facebook / google"

[2015-07-14 23:25] glauberramos opened #10 "See list of my boards"

[2015-07-14 23:59] glauberramos opened #11 "When add a new card dont animate"

[2015-07-14 23:59] glauberramos opened #12 "Limit textarea lines to 5"

[2015-07-15 03:30] #1 closed

[2015-07-15 03:32] glauberramos commented on #9
Dicided to don't have login on the MVP, I am going to follow a similar idea like appear.in

[2015-07-15 03:32] #9 closed

[2015-07-15 03:32] glauberramos commented on #10
Not going to have login for MVP. We are going to follow a similar idea as appear.in

[2015-07-15 03:32] #10 closed

[2015-07-15 03:39] glauberramos opened #13 "Improve icons of the app, animation and color"

[2015-07-15 04:31] glauberramos commented on #3
now you can create different boards using #boardID

[2015-07-15 04:31] #3 closed

[2015-07-15 17:52] glauberramos opened #14 "Cancel vote"

[2015-07-15 17:53] glauberramos opened #15 "Export cards - PDF or others formats"

[2015-07-15 18:01] mnetto opened #16 "Create (rename and delete) columns"

[2015-07-15 18:12] mnetto commented on #4
Merge or group?

[2015-07-15 19:33] celsosantarosa opened #17 "Cancel button for edit action"
Given that the user did some changes on the card text, but, because of any reason, the user decided to give up on the changes, She/He has to undo all the changes before click on the done button. A cancel button will allow them to give up on their changes at any time, disregarding their changes.

[2015-07-16 03:26] glauberramos commented on #4
The idea was to merge 2 cards together like Ideazboard functionality. Let's say two people wrote very similar cards you can go there and merge the two and then the votes are going to be summed.

[2015-07-16 17:01] glauberramos opened #18 "Handle hash better"
Issues
- show message when there is no value after #
- currently you can create a board with no text on the input (it creates a undefined board)
- currently hash is not updating if the change the value after load

[2015-07-17 04:46] #18 closed

[2015-07-21 14:12] glauberramos opened #19 "Layout is broken on linux (tested on firefox and chromium)"
The layout is currently broken, the columns are not displaying very well

[2015-07-21 14:15] glauberramos opened #20 "When voting cards are moving automatically"
This behaviour looks nice but can be a little bit disturbing if multiple people are voting at the same time (what usually happens on retros), because the cards are moving and people may be reading or clicking at the same time...

One idea maybe is to only enable this behaviour if the user selects to order by vote on a dropdown or something similar...

[2015-08-01 07:26] glauberramos commented on #19
this issue looks like is fixed now, need someone with linux machine to test again

[2015-08-02 23:24] glauberramos commented on #16
Added option to rename columns
Added option to have up to 5 columns and minimal 3

[2015-08-02 23:24] #16 closed

[2015-08-02 23:24] glauberramos commented on #8
Does not make sense since it is a retro board not tasks board

[2015-08-02 23:24] #8 closed

[2015-08-02 23:25] glauberramos commented on #7
fireideaz.com

[2015-08-10 02:48] #7 closed

[2015-08-10 02:49] glauberramos commented on #17
This is hard to do right now because we are updating the changes automatically, that means any change is shown to the other users when someone is typing. This gives a very nice experience because everything is live. In order to implement a cancel button we would have to disable this behaviour and I don't think it's very necessary right now.

[2015-08-10 02:49] #17 closed

[2015-08-10 02:51] glauberramos commented on #6
Now it's possible to have up to 6 columns and to edit columns, maybe we can add a set of pre-defined templates for the user to select.

[2015-08-12 20:50] glauberramos opened #22 "Linha muito grande quebra o adicionar card"

[2015-08-12 20:50] glauberramos opened #23 "Be able to delete a board"

[2015-08-20 01:52] #22 closed

[2015-08-20 21:33] eduaquiles commented on #19
Looks ok on Chrome/FF

![image](https://cloud.githubusercontent.com/assets/354035/9396266/ff68abfe-4769-11e5-96c9-47f0dbd51e21.png)

[2015-08-20 21:41] eduaquiles commented on #15
Simple workaround is to print the page :)

[2015-08-23 18:30] mauriciomelo opened #24 "Empty column name is not editable"
If you save a column with no name you can not edit it anymore

[2015-08-24 17:32] glauberramos commented on #24
Fixed

[2015-08-24 17:32] #24 closed

[2015-08-24 17:32] glauberramos commented on #19
Fixed

[2015-08-24 17:32] #19 closed

[2015-09-02 02:35] glauberramos opened #25 "Secure data with firebase login"
Firedeaz need to start using firebase login authenfication to secure its data

[2015-09-03 21:07] #25 closed

[2015-09-07 23:52] #13 closed

[2015-09-08 05:47] #11 closed

[2015-09-11 02:46] glauberramos opened #26 "Mobile optimised version"

[2015-09-18 02:58] glauberramos opened #27 "Use more real state"
The cards are too big if text is short.

Maybe we can make the height varies, or have 2 cards per column... Need to think more

[2015-09-24 19:22] #15 closed

[2015-09-24 19:22] #14 closed

[2015-09-24 19:23] glauberramos opened #28 "Vote only once for card?"

[2015-09-28 14:27] glauberramos opened #29 "Add card button should move with the scroll"

[2015-09-28 14:49] glauberramos opened #30 "Button to copy card content"

[2015-10-01 20:59] glauberramos opened #31 "Desvotar"

[2015-10-05 13:59] glauberramos opened #32 "Descrição muito longa o texto fica abaixo dos cards"

[2015-10-22 02:34] willmendesneto opened #33 "Add express as a node package dependency"
This project doesn't have any local reference of express package in `package.json` file. Because this when you run `gulp` or `gulp default` it breaks.

[2015-10-22 02:44] willmendesneto commented on #30
@glauberramos Can you explain more about the idea of this button? It's just for a specific card or for all cards in a specific column?

[2015-10-22 20:15] joshwand opened #37 "allow different sorts - by created or by votes"
with many people voting at once the board reorders itself too fast to keep up!

[2015-10-27 17:23] #33 closed

[2015-10-27 17:31] glauberramos commented on #30
@willmendesneto One user suggested that, the idea was to be able to copy a content from one specific card using a button. I think we can close it, since you can edit a card and copy its content.

[2015-10-27 17:31] #30 closed

[2015-10-27 17:37] glauberramos commented on #37
I am working on this right now, it's my top priority

[2015-10-27 18:18] #28 closed

[2015-10-28 02:17] #20 closed

[2015-10-28 04:07] #37 closed

[2015-10-28 04:07] #32 closed

[2015-10-28 04:08] glauberramos commented on #2
<img width="216" alt="screen shot 2015-10-28 at 2 08 15 am" src="https://cloud.githubusercontent.com/assets/559434/10779490/c74a2178-7d18-11e5-9d6d-395af20fef4e.png">

[2015-10-28 17:16] #12 closed

[2015-10-28 17:52] glauberramos opened #38 "When editing column name, should focus input"

[2015-10-28 18:00] glauberramos opened #39 "Add number of cards on each column"

[2015-10-28 18:00] glauberramos opened #40 "improve delete column/card dialog"

[2015-10-28 20:05] glauberramos opened #41 "Add glauboard.com domain"

[2015-10-29 20:23] #40 closed

[2015-10-29 20:24] #2 closed

[2015-10-30 14:46] #27 closed

[2015-11-15 20:21] glauberramos opened #43 "Add instructions to how to contribute to the project"

[2015-11-15 20:22] glauberramos opened #44 "Add start unit tests"

[2015-11-15 20:22] glauberramos opened #45 "Add CI (travis, snap)"

[2015-11-15 20:22] glauberramos opened #46 "Add coveralls"

[2015-11-15 20:22] glauberramos opened #47 "Add license"

[2015-11-15 20:40] #31 closed

[2015-11-26 16:10] glauberramos opened #48 "Change page title"

[2015-11-26 16:21] glauberramos opened #49 "Fix headers with multiple lines"

[2015-11-26 16:24] glauberramos opened #50 "Think about X delete button"
Check if X is being perceived as close instead of delete card.

[2015-12-09 12:55] glauberramos commented on #50
use trash bin instead

[2015-12-09 12:56] glauberramos opened #51 "Add a way to collect feedback"

[2015-12-09 12:56] glauberramos commented on #51
maybe uservoice

[2015-12-09 12:56] glauberramos opened #52 "Add prime directive"

[2015-12-09 12:57] glauberramos opened #53 "Add context of the retro"

[2015-12-09 12:57] glauberramos opened #54 "Add checkin exercicies"

[2015-12-14 16:24] alvarocavalcanti opened #55 ""New Board" and "New Column" buttons should have different colors"
# Description
The buttons on the top bar should be more distinguishable between themselves.

# Motivation
On several interactions one of them would get misleading clicks which would led to user frustration.

[2015-12-14 16:30] alvarocavalcanti opened #56 "Add ability to toggle Online/Offline mode"
# Description

The top bar should have a button to toggle between online and offline mode.
# Motivation

When running a retrospective with a remote distributed team some activities like "One Word" and "Tell and Cluster" we felt the need to add cards to the board that should not be available to everyone right away.

[2015-12-14 20:01] alvarocavalcanti opened #57 "Enhance keyboard-only interactions"
# Description
Add support for Enter/Return key to be used when committing changes to a text field as well as focus navigation.

# Motivation
It's hard to get fast editing a board since it requires using the mouse on several occasions. Take the simple task of creating a new board and customizing its three columns. Currently it's like

1. Click on the "Column 1" title
1. Type the new title
1. Click

[2015-12-14 20:04] alvarocavalcanti opened #58 "Ability to move cards between columns"
# Description

There should be a way to move cards between columns
# Motivation

During "open canvas" style activities it's required for the users to place their cards on the wall and then have the latter moved/grouped.

The swapping could be done by either dragging or using left/right arrow buttons on each card.

[2015-12-16 03:51] glauberramos commented on #51
added uservoice

[2015-12-16 03:51] #51 closed

[2015-12-16 03:51] glauberramos commented on #50
Added trash icon

[2015-12-16 03:51] #50 closed

[2015-12-17 14:15] glauberramos opened #59 "Use open sans as local file"

[2015-12-21 17:23] #53 closed

[2015-12-21 17:23] #52 closed

[2015-12-21 17:24] #5 closed

[2015-12-21 17:25] #48 closed

[2015-12-21 17:44] #55 closed

[2015-12-22 00:57] #4 closed

[2015-12-23 21:57] glauberramos opened #61 "Be able to vote more than 1 time"

[2015-12-23 21:58] glauberramos opened #62 "Being able to copy cards to clipboard"
Idea for format

Went Well
- blabla bla (2 votes)
- guehsuigh geisu (1 vote)
- fesugesihg (0 votes)

To Improve
- grdgdr (3 votes)
- awfaw faw (2 votes)

Action Items
- feusui (0 votes)
- gesges ges (0 votes)

[2015-12-29 18:33] glauberramos opened #63 "Be able to write cards without everyone see it before you save"

[2016-01-27 23:34] pamo commented on #43
Would love to contribute.

[2016-01-28 12:25] guipdutra opened #65 "Add a button to remove all the cards."
I would like to remove all the cards after the retrospective end.

[2016-01-28 14:39] glauberramos commented on #43
Hi!

I am always open to contributions :D

We have also a uservoice account that has some feedbacks from current users. Maybe you can work on one of those. What kind of help do you need?

Glauber

[2016-01-28 18:09] pamo commented on #43
How do I get the tests to run? They're not passing on my machine when I run gulp test. There seems to be something wrong with the karma config.

[2016-01-30 20:03] pamo commented on #65
Per column or for the entire board?

[2016-01-30 20:18] pamo commented on #49
Should they truncate? Do you have an example?

[2016-02-01 00:01] glauberramos commented on #49
The problem right now is how the cards are moving with the long text on the header ... I am not sure what is the solution to it, maybe truncating will help. Do you want to try some ideas on it? You can post them here on this thread.

<img width="764" alt="screen shot 2016-01-31 at 8 59 52 pm" src="https://cloud.githubusercontent.com/assets/559434/12706166/9a313ab0-c85d-11e5-9c58-4e9a57f4f85d.png">

[2016-02-01 00:01] glauberramos commented on #43
I was not able to configure properly the tests, it still need some work on it.

[2016-02-01 02:01] pamo commented on #49
Hmm, doesn't seem like a big problem to me. Have you gotten feedback around it? The quickest fix would be to truncate with CSS but you would have to decide at which point to truncate. Another option would be to use flexbox to get the row of column headers to grow together but that would require a lot of HTML restructuring.

[2016-02-01 02:33] tympollack commented on #49
I feel that if a user wanted their text truncated, they'd shorten the text.  If you do go that route, you probably want to impose a character limit instead.  Otherwise, I think matching the sizing would be appropriate.

[2016-02-01 02:37] pamo commented on #49
+1 to character limits. The current HTML structure is a repeated unordered list with a header per column created, which make sense to me. If we were to want each header to take the same vertical height, they would have to be a part of the same parent container outside of the context of their columns. This wouldn't make sense to me in a structural way as well as a programatic way (my first thought

[2016-02-02 01:38] #59 closed

[2016-02-02 01:39] glauberramos commented on #49
I agree that this is not a big problem. I liked the idea about truncating the text, if you want to implement it go ahead :dancers:

[2016-02-02 01:43] glauberramos commented on #65
I think #23 covers that, it is a feature to delete the whole board. I think we should implement something like github and have a danger zone:

<img width="763" alt="screen shot 2016-02-01 at 10 43 13 pm" src="https://cloud.githubusercontent.com/assets/559434/12737187/36cb61c0-c935-11e5-9889-8dbf4aaa358f.png">

What do you think?

[2016-02-02 06:20] pamo commented on #49
Max length/width?

[2016-02-02 17:06] glauberramos commented on #49
Max length I think it's better.

[2016-02-02 19:26] pamo commented on #49
Yes but what should it be?

[2016-02-03 07:29] pamo commented on #44
I would prioritize this and #45 to make the codebase more approachable for contribution :fearful:

[2016-02-03 14:04] glauberramos commented on #44
I added the priority labels to those 2 cards.

I agree they are priority. Also #43 is very important.

Do you want to work on those? Go ahead. It will be very helpful for the project :D

And thanks for the help so far.

[2016-02-03 14:25] glauberramos commented on #49
Let's not work on this for now, doesn't seen like a priority :smile:

[2016-02-03 18:06] pamo commented on #44
I would except the fact that the code is untested makes it very difficult to understand. Don't really know where to start in terms of getting the tests to start :/

[2016-02-08 18:19] glauberramos commented on #44
The code indeed lack tests and it may be difficult to understand. But at least is separated in small functions and that may help to test it.

I will try to add some tests as well.

[2016-02-08 20:54] pamo commented on #44
Did you see my pr #68? I was able to get the tests running last night.

[2016-02-10 20:25] glauberramos commented on #44
Nice, I checked it quickly, but will look further this week.

[2016-02-12 15:59] frontalicious-martijn commented on #26
Currently the app is not usable on mobile at all (iPhone). The announcement popup is in the way and cannot be closed.

For a first improvement it would be great just to be able to add or edit cards, someone on a desktop (the organiser) could move things around if needed.

[2016-02-12 19:43] glauberramos commented on #26
I agree, currently the app is lacking mobile love.

Would you be interested in helping on it and create some pull requests on this issue here on github? It would be awesome.

Thanks,
Glauber

[2016-02-12 23:54] pamo commented on #44
Did you get a chance to look at it @glauberramos ?

[2016-02-13 01:23] glauberramos commented on #44
Not really =/
I'll travel to the beach now and will be back on monday. I will take a look early next week.

[2016-02-15 16:45] #44 closed

[2016-02-15 16:53] glauberramos commented on #44
Pull request accepted :dancer:

[2016-02-23 21:14] jesusmercado commented on #65
(+1) We have been using this for our retros and at the end we needed to delete all the cards at the end. @glauberramos I like something like the "Danger Zone".

[2016-02-25 12:58] oliviagj commented on #45
The link to SnapCI [here](https://github.com/funretro/distributed/) is broken.

[2016-02-25 13:43] glauberramos commented on #45
Fixed :dancers:

[2016-02-25 13:43] #45 closed

[2016-02-25 13:44] glauberramos commented on #23
Closing this since #65 is duplicate

[2016-02-25 13:44] #23 closed

[2016-02-28 18:24] brunapereira opened #71 "Debugger Mode"
When I'm developing some feature, sometimes I want to debug the angularJS code, but it's minified and I can't add breakpoints, see the code, etc.

I wish there was a task in gulp that I could start the server without minify the code :)

[2016-02-29 00:59] brunapereira commented on #65
@jesusmercado in this case, would you like to keep the columns added/changed?

[2016-02-29 01:25] jesusmercado commented on #65
I would prefer leave the board how it was originally at the beginning (I believe it has 3 columns).

[2016-03-03 21:38] glauberramos opened #74 "[Bug] If you merge cards, the votes are not merged"

[2016-03-04 14:41] #43 closed

[2016-03-04 14:56] glauberramos opened #76 "Add node server and host on heroku"
Still need to think if it is worth it but if implemented it will make possible to:
- Remove folder dist
- Have environment variables for firebase configuration
- Compile sass/minify on the go

[2016-03-07 17:36] alvarocavalcanti commented on #56
This feature is similar to #63

[2016-03-11 13:43] glauberramos opened #77 "Add a newsletter so users can subscribe"

[2016-03-16 01:38] glauberramos opened #78 "Split index.html into different files"

[2016-03-16 02:25] #77 closed

[2016-03-16 19:51] glauberramos opened #79 "Move columns"

[2016-03-16 19:52] glauberramos opened #80 "Delete any column"

[2016-03-16 22:21] chapmanjw opened #81 "Card Text Not Persisting"
When I save text into a card and then re-load the page, the cards are still there, but they are blank.

I've tested this with the github hosted version and running the code on OSX.  I've tested from Safari, Firefox, and Chrome.

[2016-03-17 03:31] glauberramos commented on #81
I am looking at this issue now. I couldn't figure out what is happening yet.

I tried to use old versions of the code, change firebase app, still couldn't find.

Will keep you posted here about my progress...

[2016-03-17 05:27] glauberramos commented on #81
Apparently it's an issue with backface-visibility that it is not working well on chrome. I disabled the card animation for now so it should work fine. I will work more on this later.

[2016-03-17 16:02] chapmanjw commented on #81
I pulled the latest commit from master and I'm still seeing the issue locally.  Am I missing something there?

[2016-03-17 16:05] chapmanjw commented on #81
Never mind, I see the other branch.  Working locally now.

[2016-03-17 17:12] glauberramos commented on #81
Yeah master is still breaking, I will try to fix it this week

[2016-03-24 04:13] #47 closed

[2016-04-06 19:00] chinaowl opened #82 "Local workspace issue: message text disappearing"
Hello,

Steps to recreate:

1. Add a new message with some text
2. Click the thumbs up button (or open the same board in a new tab)
3. The text disappears

I noticed in my Firebase that the `text` field is empty:

![image](https://cloud.githubusercontent.com/assets/2628718/14329186/14552a4e-fbef-11e5-9299-0e4b1c4d57c0.png)

Is this a known issue or am I missing something?

[2016-04-06 19:02] chinaowl commented on #82
I just noticed that this has already been addressed here: https://github.com/funretro/distributed/issues/81.

[2016-04-06 19:02] #82 closed

[2016-04-06 19:03] chinaowl commented on #81
What branch should I be using?

[2016-04-06 19:05] glauberramos commented on #81
gh-pages

[2016-04-25 03:37] #81 closed

[2016-04-25 03:37] #74 closed

[2016-04-25 03:37] #62 closed

[2016-04-25 03:38] #65 closed

[2016-04-25 03:39] #29 closed

[2016-04-25 04:18] pamo opened #85 "Set up automated deploy step"
From what I can tell, the site is served from the gh-pages branch.

I've noticed we've been committing the dist directory and other build artifacts to master but ideally we should only ever have to push them to gh-pages.

We can use something like the [gh-pages](https://www.npmjs.com/package/gh-pages) npm module to keep our master (development) and gh-pages (production) branches separate.

I have

[2016-04-25 04:26] glauberramos commented on #85
Hey pam,

I had this conversation last week with some people in the office. I like the idea of improving it because I really dont like to commit dist files everytime.

What we can do maybe is to create a script that generates dist files and creates a new branch called gh-pages and push force it to github. This way we will always have 1 commit on gh-pages with the latest changes. What do you think?

[2016-04-25 04:28] pamo commented on #85
That's exactly what the npm module, gh-pages does 😄  👍

[2016-04-25 04:30] glauberramos commented on #85
Cool, in my opinion we can use it them 💃

[2016-04-26 13:39] glauberramos opened #87 "Add sidebar with some controls"

[2016-04-26 13:39] glauberramos commented on #87
Example: <img width="803" alt="screen shot 2016-04-26 at 12 46 27 am" src="https://cloud.githubusercontent.com/assets/559434/14820049/33e4f6f8-0b9b-11e6-90b1-eef426162a28.png">

[2016-04-26 13:40] glauberramos opened #88 "New logo"

[2016-04-28 04:04] #78 closed

[2016-04-28 04:05] glauberramos commented on #76
We can accomplish it using gh-pages npm module. Closing issue

[2016-04-28 04:05] #76 closed

[2016-04-28 04:07] glauberramos commented on #87
I finished it using a menu instead, look:

<img width="1275" alt="screen shot 2016-04-28 at 1 07 04 am" src="https://cloud.githubusercontent.com/assets/559434/14875113/8c5a9e1c-0cdd-11e6-8f4a-7c276794ce87.png">

Closing issue

[2016-04-28 04:07] #87 closed

[2016-04-28 14:00] glauberramos commented on #88
@juanmnl is working on it

[2016-04-28 18:45] juanmnl commented on #88
Draft 1
![draft1](https://cloud.githubusercontent.com/assets/699945/14897384/2ef02c26-0d58-11e6-82ff-500b9f2c91b7.png)

[2016-04-29 04:10] glauberramos commented on #26
I made some improvements and now it's way easier to use on mobile.

I have a question: should we keep functions like "add column", "delete cards" on mobile version?

[2016-04-29 18:33] glauberramos opened #90 "Sort order maybe across all open sections of the board"
This is one idea to think better about. If we can have the same sort order for all sections.

[2016-04-29 19:44] glauberramos opened #91 "Timer for writing cards and voting"
It could have a timer for the whole board. Everyone should be able to increase or decrease time and stop and start the timer.

Voting and creating cards should only be available while timer is running.

Once timer is over the cards are updated and everyone see the result.

It's like a automated facilitator.

[2016-05-01 22:58] pamo commented on #85
@glauberramos I closed this issue because I had unintentionally deployed 🙊 . We can deploy locally or (preferrably) on Snap by taking a build and promoting it to the deploy step when it's green
https://snap-ci.com/funretro/distributed/branch/master
![Uploading Screen Shot 2016-05-01 at 15.58.09.png…]()

[2016-05-01 22:59] #85 closed

[2016-05-01 23:19] pamo opened #92 "Configure SnapCI to deploy on request"
SnapCI has a deploy step defined, but we need to give it SSH access to our repo in order to deploy.
[Here's an example of doing it with TravisCI](https://medium.com/@nthgergo/publishing-gh-pages-with-travis-ci-53a8270e87db#.o46hdptyz)

[2016-05-01 23:41] pamo commented on #92
Resolved by  e34cb34

[2016-05-01 23:41] #92 closed

[2016-05-01 23:42] pamo commented on #92
Turns out it's much easier with [Snap](https://docs.snap-ci.com/getting-started/ssh-keys/) and [Github deploy keys](https://developer.github.com/guides/managing-deploy-keys/)

[2016-05-02 01:30] pamo commented on #57
Is this the behavior you expect @alvarocavalcanti ? http://bennadel.github.io/JavaScript-Demos/demos/cmd-enter-submit-angularjs/

[2016-05-02 12:43] #71 closed

[2016-05-02 12:44] pamo commented on #26
@glauberramos we should. Users would expect to be able to access all features regardless of device

[2016-05-02 12:48] alvarocavalcanti commented on #57
Yes, it is, @pamo!

[2016-05-03 15:27] glauberramos opened #93 "Remove logic that disabled spaces in board name"

[2016-05-04 14:31] glauberramos opened #94 "Method auth is being called multiple times on load"

[2016-05-04 17:01] glauberramos opened #95 "Filter element is on top of loading page"

[2016-05-06 16:29] chapmanjw opened #96 "Other Storage Options"
It would be great if we could configure this to use a different storage mechanism that I can run within the network, rather than a cloud hosted one.  Many organizations have policies against "unapproved" cloud solutions.

[2016-05-12 02:53] #95 closed

[2016-05-12 02:53] #94 closed

[2016-05-12 03:08] glauberramos commented on #96
This would be nice but right now the app is totally reliable on firebase. In order to accomplish other storage options we would have to basically rewrite the whole app from scratch. We would have to implement also real time behaviour using socket.io or something similar because firebase gives you that for free.

One option would be start a fork that implements another storage like http://feathersj

[2016-05-15 20:14] #93 closed

[2016-05-19 01:07] glauberramos opened #101 "Update firebase version"
Firebase launched today a new version
https://firebase.google.com/support/guides/firebase-web

[2016-05-19 15:00] ericajones305 opened #102 "Able to prioritize the cards in each column"
It would be great if we were able to move the cards in each of the cards in priority order

[2016-05-19 19:04] chapmanjw commented on #96
It would be helpful to abstract all database calls so that we could add our own custom data stores for implementations.  Personally, I would probably go the DynamoDB route for what I am working on: http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html

[2016-05-27 21:42] glauberramos opened #103 "Fix user voice"

[2016-05-27 21:43] glauberramos opened #104 "Voting issue"

[2016-06-07 18:38] pamo opened #105 "Webpack Developer Workflow"
@brunapereira @glauberramos and anyone else interested in contributing:

I spoke with @glauberramos about the branch I've been messing around with:
https://github.com/funretro/distributed/tree/webpack

The goal is to get rid of gulp and introduce webpack + es6 + newer version of angular?

Right now the plumbing is in place to do local development and run tests (I've included a rough to-do list in

[2016-06-07 19:18] brunapereira commented on #105
Interesting!

I would love to have a 'live' conversation about it, what do you think? I want to help with de migration but we need to define what we'll change and how to do it.

[2016-06-07 20:49] pamo commented on #105
Buen idea @glauberramos y yo podemos coordinar un video chat contigo. Que hora sirve para ti?

[2016-06-07 22:21] brunapereira commented on #105
Cualquier dia por la noche, después de las 19:40. Cuando prefieren @glauberramos  y @pamo?

[2016-06-08 01:53] glauberramos commented on #105
:D Hablamos entonces jueves

[2016-06-08 23:37] maryellen163 opened #106 "Provide ability to add a picture"
Many retrospectives are based around a picture (hot air balloon, speed boat, etc).  It would be nice if we could link to a picture and have it show above the columns.  Bonus points if there were some stock photos to insert that relate to some of the fun retrospective ideas.

[2016-06-09 22:27] pamo commented on #105
[] redo firebase auth
[] look at firebase 2 features
[] see if we can host on digital ocean
[] see if we can host on linode
[] implement routing to board controller
[] extract board directive
[] extract column directive
[] extract card directive

[2016-06-09 22:30] pamo commented on #105
@brunapereira firebase has hosting included 😂

[2016-06-09 22:32] #46 closed

[2016-06-09 22:35] glauberramos commented on #88
@juanmnl como esta esto, juan? 😁

[2016-06-09 22:36] #26 closed

[2016-06-09 22:38] glauberramos opened #107 "I18n"

[2016-06-11 01:27] pamo opened #108 "Refactor Firebase Authentication"
Using the Angularfire API
https://github.com/firebase/angularfire/blob/master/docs/guide/user-auth.md

[2016-06-11 01:28] pamo opened #109 "Deploy to Firebase Hosting"
https://firebase.google.com/docs/hosting/deploying

[2016-06-13 20:39] glauberramos opened #110 "Change board name"

[2016-07-01 15:34] chapmanjw commented on #96
FeathersJS sounds promising. Have you tried plugging it in yet?

[2016-07-20 11:46] rajesh0706 commented on #58
Is there any update on this issue Fix..

[2016-07-28 22:07] luizfar commented on #41
+1

[2016-07-29 23:21] felipedelfim opened #112 "Clear Votes button"

[2016-09-19 19:25] Bonifacio2 commented on #79
Please!

[2016-09-19 19:27] Bonifacio2 commented on #80
Porra, @brunapereira. Você tá em todas!

[2016-09-27 15:42] licarth opened #113 "Support markdown"
It could be fun and useful to be able to render markdown.

[2016-09-27 22:12] pamo commented on #113
What would the usecase look like?

[2016-10-19 03:01] #80 closed

[2016-11-28 14:25] glauberramos opened #115 "Make hash bigger and more secure"

[2016-11-28 14:29] glauberramos opened #116 "Firefox compatibility issues"

[2016-11-30 22:19] rtimpone opened #117 "Done button blocks text"
As I'm writing the details for a new card, the done button often blocks my second line of text initially. After I type a few characters, the done button moves down so the second line of text is visible. I'm using the app in Chrome on a 2015 13" MacBook Pro Retina running Sierra. My Chrome window is adjusted to take about 80% of the width of the screen. I'm able to replicate this every time.

Here

[2016-12-01 23:34] brunapereira commented on #115
You mean the userId? Whats the motivation?

[2016-12-02 00:27] glauberramos commented on #115
the userID now has 5 characters, it is pretty to create an automated script and find every board ever created on funretro. I wanted to increase to maybe 7 or more so it is harder do discover boards. What do you think @brunapereira ?

[2016-12-02 00:33] brunapereira commented on #115
Makes sense!

[2016-12-02 00:36] #117 closed

[2016-12-03 15:08] #115 closed

[2016-12-03 15:09] #63 closed

[2016-12-03 15:36] glauberramos opened #121 "Start using webpack"

[2016-12-04 22:47] #104 closed

[2016-12-05 01:50] glauberramos opened #122 "Improve voting system"
- Upon board creation set max votes per user
- User can see how many votes are left
- Users can vote more than once on each card
- Improve unvote button (today looks like dislike)
- See clearly which cards I voted

[2016-12-05 01:50] #61 closed

[2016-12-05 05:04] #90 closed

[2016-12-19 16:48] glauberramos opened #124 "message of invalid board"

[2016-12-20 03:42] glauberramos opened #125 "bug: create board with empty name"

[2016-12-22 06:30] Roshanjossey commented on #113
@pamo: I can think about scenarios like having emphasis to text like bold or italics.
Having said that I don't think that would add much value. As far as I understand, non formatted text is sufficient for what we post on retro cards

[2016-12-22 06:39] Roshanjossey commented on #125
I also came across this. Here are some steps to reproduce this.

  * go to http://funretro.github.io/distributed/
  * click on new board button
  * click on create button (Do not enter title)

You'll be taken to a blank board (no default columns) new column will not work as expected

[2016-12-22 12:51] glauberramos commented on #125
Hello @Roshanjossey, thanks for pointing that out. The idea of this bug is to fix the exactly issue that you reported :D

Thanks

[2016-12-22 14:06] Roshanjossey commented on #125
Hey @glauberramos: I shared the scenario to help anyone who might be interested in fixing this bug. I believe adding such a description would give others more context. I love the way hoodie handles this. Here's an [example](https://github.com/hoodiehq/camp/issues/95)

I'd like to take a stab at this issue.

[2016-12-22 14:31] Roshanjossey commented on #122
@glauberramos: I have a question regarding changing unvote button. From what I understand, we're trying to solve the problem that users might think the current button is doing something different than removing their vote. I saw the same opinion in [Uservoice](https://funretrospectives.uservoice.com/forums/269818-general/suggestions/13206210-change-unlike-button-design) too. Are we gonna implement

[2016-12-22 15:34] glauberramos commented on #125
Please go ahead @Roshanjossey :D

We are currently working with pull requests and code reviews, so you can go ahead and fork and create a pull request.

Thanks

[2016-12-22 15:36] glauberramos commented on #122
My first idea was to have a "x" button to remove the vote.

Here is a screenshot:
<img width="419" alt="screen shot 2016-12-22 at 1 35 54 pm" src="https://cloud.githubusercontent.com/assets/559434/21430754/a5d9d36a-c84b-11e6-9350-1a69dad45888.png">

[2016-12-26 17:32] glauberramos opened #126 "BUG: card layout in firefox is broken"
<img width="1273" alt="screen shot 2016-12-26 at 3 31 41 pm" src="https://cloud.githubusercontent.com/assets/559434/21484840/7f206aa8-cb80-11e6-9a0c-c7ff17d89aa8.png">

[2016-12-30 17:45] chapmanjw opened #127 "License"
Anyway you could switch to the MIT license?

[2017-01-09 23:29] glauberramos commented on #127
@chapmanjw can you explain more about why do you think this is the best option? (I really don't know a lot about licenses)

[2017-01-10 01:54] chapmanjw commented on #127
You can read about the GPL license here: https://en.m.wikipedia.org/wiki/GNU_General_Public_License

Basically my company doesn't let us fork and modify GPL software (not sure of all the reasons why), but I think it has to do with having the keep strictly to the GPL license, rather than being able to license forks differently, etc.

[2017-01-11 17:57] glauberramos commented on #127
For now I don't have plans to change it. You can fork on your personal account and work on it or use our public app on funretro.github.io/distributed.

Thanks,
Glauber

[2017-01-11 17:57] #127 closed

[2017-01-26 18:17] Roshanjossey commented on #126
@glauberramos: I understand that you're mentioning the card in `Action items`. I see that the voting div is overlapping with the edit icon above it.

One possible solution can be to provide a `min-height` to the whole div. Do you have some other solutions in mind?

[2017-01-26 18:59] Roshanjossey commented on #116
@glauberramos, How about listing all the issues here. I already see an issue with card layout in firefox. (#126).

Should we track all issues here or create separate issues for each bugs?

[2017-01-26 19:06] Roshanjossey opened #129 "Add and use labels for issues to make project contributor friendly"
I've started working on project to help beginners get started on open source contributions.
https://github.com/Roshanjossey/first-contributions

One thing I learned by talking to my users is that people gets interested in starting to contribute to a project if they recognise easy issues to solve. One way to make this apparent is to use labels for issues. I've seen project using labels like `beginn

[2017-01-26 20:15] glauberramos commented on #126
I think the min-height may help. It's probably the more straight-forward solution.

[2017-01-26 20:17] glauberramos commented on #116
I will close this issue, and we can create separated issues for each bug.

[2017-01-26 20:17] #116 closed

[2017-01-26 20:22] glauberramos commented on #56
@alvarocavalcanti #63 is done, do you fell it fulfils the need of an "offline" mode?

[2017-01-26 20:25] glauberramos commented on #129
Done

[2017-01-26 20:25] #129 closed

[2017-01-26 20:29] glauberramos commented on #106
I found this one that fulfil this need:
http://suricatoagil.com/

[2017-01-26 20:30] glauberramos commented on #105
I will close this and add the separate issues for the tasks.

[2017-01-26 20:30] #105 closed

[2017-01-26 20:31] glauberramos opened #130 "Upgrade firebase version"
Right now we are using firebase 1.0 and should change to 2.0

[2017-01-26 20:31] glauberramos opened #131 "Implement routing to board controller"

[2017-01-26 20:33] glauberramos commented on #108
We are currently using user authentification for board control, so only the people who have the URL can access the board. I will close this issue for now.

[2017-01-26 20:33] #108 closed

[2017-01-26 20:36] glauberramos commented on #102
@ericajones305 the problem with this idea is that it will break the current "Order by votes" or "Order by created date" functionality. How do you think this should work together with the "order by"?

Maybe we add a new value on the dropdown called "default" or "prioritized"?

[2017-01-26 20:37] #130 closed

[2017-01-26 21:31] glauberramos commented on #103
Sometimes uservoice does not open on the app.

[2017-01-27 13:42] alvarocavalcanti commented on #56
Yes, I do! I'll close this issue.

[2017-01-27 13:42] #56 closed

[2017-01-27 15:47] jffrybrwn opened #132 "Comments on cards"
It'd be nice of people could leave anonymous comments on cards in addition to voting.

[2017-01-27 21:23] Roshanjossey commented on #129
@glauberramos: It's awesome that you created `beginner friendly` label and started using it.
I've added this project to my list in first contributions too.

Do check it out at https://github.com/Roshanjossey/first-contributions and gimme some feedback

[2017-01-28 04:09] #126 closed

[2017-01-28 04:12] #125 closed

[2017-01-30 07:02] gmuraleekrishna opened #134 "A fun guide to retrospective"
I'm working on a project to make the retrospectives fun and engaging. It includes a beginner's guide to conducting retros. I think it would be a worthy addition to your project. https://github.com/gmuraleekrishna/dummies-guide-to-retrospectives

[2017-01-31 19:55] Roshanjossey opened #135 "Improvements to Readme"
Line no. 19, 20, 29: Talks about app in firebase. The terminology in firebase is project. It might be good to use that in readme as well

Line no. 29: We could explain where to get url to be put in firebase service

Line no. 51: There is SnapCI with and without link. It'll be better to remove the one without link

Line no. 58: It might be better to provide link rather than giving url. This url nev

[2017-01-31 21:12] Roshanjossey opened #136 "$scope is used too much in mainController"
Currently mainController.js is a big file with lot of business logic and functionality defined in $scope.

From what I learned so far it's better to use controllerAs syntax and reduce the use of $scope. Also business logic should reside in controller.

I think this is a good time to refactor mainController.js to make the codebase better

[2017-02-01 15:58] glauberramos commented on #135
Nice idea @Roshanjossey

Do you want to start a PR to do this? I can help as well.

[2017-02-01 16:27] Roshanjossey commented on #135
@glauberramos, this looks like a beginner level task to me. Lets assign `beginner friendly` label to this for people to identify it quickly.

My assumption here is that these changes are not of high priority. We can wait for new people to get involved in this project by entry level issues like this. There is a good chance that they might turn in to regular contributors

[2017-02-01 18:12] Roshanjossey opened #137 "Fix broken CI build"
Here's the error I got from CI
[code]
I googled around a bit about this and this is what I got

http://stackoverflow.com/questions/40220506/gulp-sourcemaps-syntaxerror-unexpected-token

When I try gulp testci from my local, it does pass. I'm using node version 5.5.0
When I looked through CI trace, I learned that were using node v0.10.37 (npm v1.4.28)

As discussed in #128, we should update node an

[2017-02-15 09:57] varac opened #138 "Import/preseed cards"
I have a textfile with say 30 options that I'd like to vote for using funretro.
I'd like to import these cards so our team can easily vote, without manually creating each cards one by one.

[2017-02-16 16:20] RikTheunis commented on #135
Hey guys, I'm new to the open source community and want to start committing to projects. Maybe I can work on this?

[2017-02-17 04:44] Roshanjossey commented on #135
@RikTheunis, Awesome. We'd love your contribution.

Go ahead. Ping me if you need any help

[2017-02-18 14:41] RikTheunis commented on #135
@Roshanjossey, I'm almost done, but I'm not too sure about how to explain where the firebase url can be found. (for line no. 29)

Are you looking for something like this? "After creating the project, you can deploy it under Hosting. You can save the url of your deployed project (ex: https://funretrotest.firebaseio.com/) and replace it with the variable ```firebaseUrl``` inside ```js/firebaseServic

[2017-02-18 16:19] Roshanjossey commented on #135
Hey @RikTheunis, If you go to the project and select database from left pane, You'll see database url.

Even if we're providing example url, it'd be best to explicitly say where you can find it.

Also feel free to send a 'work in progress' PR. We can take our discussions there

[2017-02-18 17:08] RikTheunis commented on #135
@Roshanjossey thank you for making this clear! I have opened a PR.

[2017-02-21 17:26] RikTheunis commented on #110
@Roshanjossey I'll give it try!

[2017-03-07 20:26] glauberramos opened #142 "Change color of the columns"
The idea is to be able to change the default color of the columns, so we can avoid problems like "what went nice" column in red.

[2017-03-07 20:28] glauberramos commented on #142
@tiagomtotti just created this issue 💃  no pressure hehehe

[2017-03-10 22:59] glauberramos opened #143 "About page"
About page about the creator and the purpose of fun retrospectives

[2017-03-10 23:00] glauberramos opened #144 "Clear database"

[2017-03-13 23:09] cawlin commented on #122
I think emulating "dot voting" would be a good way to go. Something like this:

![vote-mockup](https://cloud.githubusercontent.com/assets/370173/23878888/9178c1d4-080f-11e7-8d00-9f6239affd9e.gif)

* User's dots are a unique colour/symbol only to them
* All other user's dots appear the same colour
* Click to add or remove dots

The indicator for number of votes would need an obvious place to live.

[2017-03-14 03:20] Roshanjossey commented on #122
@cawlin, very interesting idea. It solves a lot of problems in one shot.

That being said, I have a lot of questions like if the UI is intuitive enough as a voting action. I think a good way to take this forward might be to prototype this very quickly and have some user interviews.

BTW, @cawlin How did you create the gif above. Are you using Funretro itself? I'm interested to learn more about it

[2017-03-14 23:01] cawlin commented on #122
Hey @Roshanjossey

1. I just found funretro and used it for the first time with my team last week. It worked great but we really need multi-voting to support our process!
2. I have seen this style of UI somewhere else but I forget the exact software. I can track it down though - give me a day or two.
3. The gif above is [balsamiq](https://balsamiq.com/) and then quickly animated with photoshop.

[2017-03-15 02:01] glauberramos commented on #122
Hey @cawlin,

Thanks for the mockups, they are really great.

I like how the user can know where he voted already, also see how many votes are left.

I already have a PR open with a similar idea, with multiple votes, here is how it is looking today:

![gifvoting](https://cloud.githubusercontent.com/assets/559434/23930289/251ceece-090a-11e7-8715-097b037cc775.gif)

[2017-03-15 22:48] cawlin commented on #122
@Roshanjossey found the dot voting UI! Seems exactly as I remembered it
https://dotstorming.com/

[2017-03-15 22:49] cawlin commented on #122
@glauberramos oh cool - maybe I'll have to set up a local instance and try it out. Less drastic change for sure!

[2017-03-17 22:27] mrzinger commented on #122
Maybe this solution will work?
![testuservoice](https://cloud.githubusercontent.com/assets/1550163/24065135/2b554fc8-0b69-11e7-96a6-e85856172bcd.gif)
It is very simiple in implementation and at the same time shows how your change affects total votes on the message?

[2017-03-18 05:59] Roshanjossey commented on #122
@mrzinger: I got a little confused while understanding which number shows the votes I added vs how many votes does a card have.

Users might also have similar doubts. IMHO votes on a card should be given emphasis. Maybe make it bigger and move it to a prominent position.

[2017-03-21 15:17] nbrowning1 opened #145 "Ability to focus on particular item"
As somebody who uses this across a conference call and screen-sharing, it can be difficult to know which item somebody is talking about or to focus on it, especially if there are many items on the board.

It would be nice to be able to click on the item itself, or on some icon (e.g. an eye) to bring the retro item to focus, in the centre of the screen and enlarged.

[2017-03-22 01:56] ali4ever4 commented on #145
+1

Sincerely,

*Ali Hassan Abdulali Al Lawati*

CCED <http://www.cced.com.om/Pages/default.aspx>,  IT : Information Systems
Technical Leader
Profile AliLawati.com <http://alilawati.com>
Social @ali4ever <https://twitter.com/ali4ever>

On Tue, Mar 21, 2017 at 7:17 PM, Neil Browning <notifications@github.com>
wrote:

[2017-03-22 13:16] alvarocavalcanti opened #146 "Hide the vote count while participants are voting"
When requesting participants to start voting I would like to have the vote count to be hidden.

Ideally, the board could have a "start voting" button that would hide the vote count for the cards. This button would become "stop voting" then, and its state should be shared across all sessions.

This would prevent a voting bias and thus reflect more accurately the group's opinions.

[2017-03-23 03:20] glauberramos commented on #146
I like this idea,

There is only one challenge because we currently don't have a administrator for the retros, so everyone would be able to start voting and stoping it at any time.

@alvarocavalcanti do you think that would be a problem?

[2017-03-23 14:32] alvarocavalcanti commented on #146
@glauberramos I don't think so. I mean, we already have this situation where anyone can create, rename or even delete columns and cards. The users tend to use it fairly, and I don't see why they wouldn't do so with this new feature.

And if you look closely, this is a much less sensitive feature since it only involves hiding/showing information, not manipulating it. 😄

Oh, and by the way, maybe th

[2017-03-24 19:36] glauberramos commented on #146
@alvarocavalcanti makes sense, I am going to implement it in the next week or so. Since it looks very simple :D

[2017-03-27 20:29] mrzinger commented on #122
Ok, I made another PoC. Here it goes below:
![votes](https://cloud.githubusercontent.com/assets/1550163/24376195/524af630-133b-11e7-9d96-93a187bcb482.gif)
**Motivation:**

- Trying to emphasize the added votes by any font changes looks a bit ugly to me since it adds inconsistency the the UI
- Stars concept proposed above looks nice, but when it comes to simultaneous work with the same board by few

[2017-03-28 02:26] glauberramos commented on #122
Hello @mrzinger,

I will incorporate the ideas from the thread into my branch. The branch is actually functional, so it will be small things to add.

I think I can finish it today.

Glauber

[2017-03-28 17:48] mrzinger commented on #138
I suppose csv format can be used for this. It easy to use, open and accessible. What do you think?

[2017-03-28 17:51] glauberramos commented on #113
I agree that only text is enough for now for funretro.

The main idea about the app is to keep it simple, that means, to keep less functionality as possible.

So I will close this for now.

[2017-03-28 17:51] #113 closed

[2017-03-28 18:57] varac commented on #138
awesome!

[2017-03-29 02:24] glauberramos commented on #122
Hey guys,

I just deployed a version to production. I am going to close this issue, please let me know what you think and if you find any issue.

[2017-03-29 02:24] #122 closed

[2017-03-29 03:25] cawlin commented on #122
I dig it @glauberramos - nice use of the dots to indicate voting for the user.

[2017-03-29 03:50] glauberramos commented on #134
I am going to add it to README file and close the issue.

[2017-03-29 03:50] #134 closed

[2017-03-29 03:51] #110 closed

[2017-03-29 05:49] glauberramos commented on #58
Implemented.

[2017-03-29 05:49] #58 closed

[2017-03-29 11:52] cjhowald commented on #79
It would be really great to be able to drag and drop columns. Otherwise, if you want to add a new column anywhere but in the last position, you have to first delete later columns and then recreate them. This is very inconvenient.

[2017-03-30 07:43] glauberramos opened #150 "Ability to change max number of votes once the board is created"
After the board is created, it should be able to change maximum number of votes per user
Also we should have a option to disable of not max number of votes on board creation or after board is created.

[2017-03-30 07:50] glauberramos opened #151 "Ability to disable or not "private writing" feature"
Ideally I think we should have a checkbox when we are creating a board to set private writing or not. Also we should be able to change it once the board is created.

[2017-03-30 07:56] glauberramos commented on #132
@jffrybrwn  which use case do you think this would be useful? Could you explain further?

Ideally all comments should happen on the retro meeting itself, and if there is anything important that need followup, it should be created on the "Actions" column.

[2017-03-30 07:57] glauberramos commented on #112
@felipedelfim could you explain why do you think this is important?

[2017-03-30 07:57] #124 closed

[2017-03-30 08:02] glauberramos commented on #102
One problem with this feature is that it is not compatible with the layout of merging cards, because right now the drag-drop is used for merging the cards. If we want to change the order, the interface probably would need to change.

[2017-03-30 08:04] glauberramos opened #152 "Emojis"
It would be nice to have some emoticons on the cards, so it really makes funretro more fun :D 💃

[2017-03-30 08:07] glauberramos commented on #152
https://github.com/OneSignal/emoji-picker

[2017-03-30 08:12] glauberramos commented on #106
I don't think this would work with the current layout of the retro. This approach works better with with a drag interface. I am going to close it for now.

[2017-03-30 08:12] #106 closed

[2017-03-30 08:14] glauberramos commented on #103
I am going to remove user-voice because we are using hotjar now.

[2017-03-30 08:19] glauberramos opened #153 "Author of a card"
One idea that some people ask is to be able to add a author of a card. Do you think this would be useful? Maybe we could have a separated field for it.

[2017-03-30 08:20] #103 closed

[2017-03-30 08:20] glauberramos commented on #91
In order to keep funretro simple I don't think this fits well in the scope.

[2017-04-01 06:47] Roshanjossey opened #154 "Enter key can't be used to submit forms"
🐞 **Problem**
  Currently in modals like creating board and columns, enter key can't be used to submit when focus
  is in input fields. Users will have to press tap to focus on `Add`/`Create` or click with mouse.

🎯 **Goal**
It is a standard pattern to submit a form by clicking enter key in input field. We wanna do that

💡 **Possible solutions**
On press of enter/return key in input field, submit

[2017-04-01 07:37] alanjsph commented on #154
I've started working on adding an key press event listener to solve the issue

[2017-04-01 09:57] sherfin94 commented on #150
I'm working on it

[2017-04-01 10:32] Roshanjossey commented on #91
@glauberramos: I think this is a great feature. We timebox almost everything in our retros.
Starting from writing issues, reading all issues, voting, discussions and decisions.

Currently we use our phones or google for timer. If we can put it in board itself, that could be the selling point for funretro against other tools.

Lemme see if I can get any designer friends involved in this.

[2017-04-01 10:57] sherfin94 commented on #150
@glauberramos , what should happen when a user have already cast more votes than the newly set number of maximum votes allowed ?

[2017-04-01 11:05] alanjsph commented on #91
@Roshanjossey , so the changes has to be reflected only after the timer stops or, just simply block the action of creation of cards and voting when the timer is expired?

[2017-04-01 11:13] Roshanjossey commented on #91
Hey @alanjsph: In my opinion timer doesn't have to restrict creation and voting of cards.

It can just stay there as an indicator. (This is one aspect where I disagree with @glauberramos' comment above)

Anyways, get started with visual part of visual part of it. We'll continue our discussions with @glauberramos also involved.

[2017-04-01 11:15] alanjsph commented on #91
Alright @Roshanjossey

[2017-04-01 12:45] alanjsph commented on #91
![screen shot 2017-04-01 at 6 06 25 pm](https://cloud.githubusercontent.com/assets/8162618/24578845/2c70ba74-1707-11e7-8c31-4a376a6e0bce.png)
How does this look? @Roshanjossey

[2017-04-01 19:03] glauberramos commented on #137
I was thinking more about this, and I think we should change to Travis CI. Since Snap ci is going away. https://blog.snap-ci.com/blog/2017/02/06/2017-02-06-snap-announcement/

[2017-04-02 02:37] Roshanjossey commented on #137
Travis is common for most open source projects. Do you wanna spend some time to look in to other tools as well? Like werker , circleci, bamboo or go cd ?

[2017-04-02 17:45] alanjsph commented on #152
Yes, adding an emoji picker would look cool. Are anyone working on this now?

[2017-04-02 17:55] alanjsph commented on #136
Do you mean something like this?
`<div ng-controller="MainCtrl as main">
   {{ main.title }}
</div>`

And also, I would suggest using 'this' instead of binding everything to scope all the time.
`app.controller('MainCtrl', function () {
  this.title = 'Some title';
});`

What do you guys think? @Roshanjossey , @glauberramos

[2017-04-02 19:27] Roshanjossey commented on #136
@alanjsph, Yes. Did you get it from [here](http://codetunnel.io/angularjs-controller-as-or-scope/) ?

I was thinking about extracting directives and controllers out to different files.

Just keeping view in directives and put business logic in controllers.

[2017-04-02 20:00] alanjsph commented on #136
@Roshanjossey , No I didnt get it from there.
But aren't the directives already in different files? Correct me if I'm wrong.

[2017-04-02 20:11] Roshanjossey commented on #136
Yes directives are in multiple files. It'd be good to split controllers too.

I don't really know how it should end up. There are functions to be used by different directives.

[2017-04-02 20:14] alanjsph commented on #136
ok, @Roshanjossey Let me have a try

[2017-04-03 06:43] glauberramos commented on #152
@alanjsph Nobody is working on it yet.

[2017-04-03 06:44] glauberramos commented on #137
Hummm, our build process is very simple, only run unit tests and then run deploy script. So I think Travis CI should be enough for us.

[2017-04-03 06:48] glauberramos commented on #154
@Roshanjossey I really liked the issue format here :D Well explained and documented.

@alanjsph I will take a look on the PR now.

[2017-04-03 06:50] glauberramos opened #159 "Rethink colors"
This is more of a big picture card. The idea is to come up with new colors for fun retro. Some colors now miss accessibility (like yellow). Ideally I would like to test a more clean version as well, with less colors.

[2017-04-03 07:32] glauberramos commented on #150
@sherfin94 I think it is fine how it is working right now. It should show "remaining votes: 0" and it should only allow the user to vote after it removes enough votes.

[2017-04-03 07:35] glauberramos commented on #96
@chapmanjw I didn't try to change the storage yet. And I am not sure I will have time for that in the near future. But if anyone else wants to try it I would really appreciate it.

[2017-04-03 07:36] #49 closed

[2017-04-03 07:48] glauberramos commented on #91
@Roshanjossey @alanjsph I think we should give a little bit more thought into this Idea. That's why I added a "Idea" label, because I was not sure how this feature should be implemented.

- I think in order to work it should be really simple, I agree with you @Roshanjossey that we should not limit the creation of cards.
- I don't think we should add on the header. Maybe we could have it floating o

[2017-04-03 20:34] glauberramos commented on #137
I just added travis CI and the build is working.

[2017-04-03 20:34] #137 closed

[2017-04-04 08:37] #154 closed

[2017-04-04 08:46] mrzinger opened #161 "Missing Contributor guideline"
I see a few people are contributing to the project from time to time. So it looks to me it would be good to have simple guidelines for the contributors describing some basic rules like:
- Coding guidelines
- Branching guidelines (is there branches naming convention in place?)
- Definition of done (what should be done for the feature to pass Pull request)
- Maybe basic architecture guidelines.

It

[2017-04-04 13:56] mrzinger commented on #153
Certainly it is.
How about this way?
![image](https://cloud.githubusercontent.com/assets/1550163/24660177/2711e568-194f-11e7-81f6-9f3c95dc2836.png)

[2017-04-04 17:48] glauberramos commented on #153
It should be something like this @mrzinger, but since this is only a "idea" so far, I still not sure if this is needed for the majority of the users of funretro. I am not sure if this should be implemented.

[2017-04-04 17:55] glauberramos commented on #161
@mrzinger do you have any good example of other opensource projects that I can get inspiration from?

[2017-04-04 19:00] glauberramos commented on #153
Some other ideas for UI:

<img width="272" alt="screen shot 2017-04-04 at 15 03 22" src="https://cloud.githubusercontent.com/assets/559434/24671489/0d450d4c-1948-11e7-9bd6-fcd1af216788.png">

<img width="273" alt="screen shot 2017-04-04 at 15 03 59" src="https://cloud.githubusercontent.com/assets/559434/24671496/10a2bcdc-1948-11e7-8f3a-73db410ce5e5.png">

I would like to investigate first if this

[2017-04-04 20:15] glauberramos opened #162 "Add stylelint and csscomb"

[2017-04-05 07:24] mrzinger commented on #161
Well, https://github.com/Microsoft/vscode is not bad.
Of course it is much bigger project however the guidelines look pretty lightweight.

[2017-04-05 19:59] #161 closed

[2017-04-11 19:04] katharinekerr opened #167 "Enter creates card, cmd-enter adds a new line"
Currently, enter adds a new line and cmd-enter creates the card. I think it's more intuitive if enter creates the card and cmd-enter adds a new line. Also since enter now creates a column and creates a new board when the dialogs are open. These actions are used in Facebook messenger and iOS iMessenger. (Although I know gmail uses the current actions).

👍  Great project!

[2017-04-19 15:58] glauberramos opened #169 "Export board"
- .csv format
- pdf

[2017-04-20 13:11] mrzinger commented on #138
The feature is implemented, but stuck on Pull request review. You can either take the corresponding branch https://github.com/mrzinger/distributed/tree/138-import-cards or add more votes to it to get it back from "idea" to "feature"

[2017-04-20 15:42] glauberramos opened #170 "Fiz mobile layout"
<img width="323" alt="screen shot 2017-04-20 at 12 42 13" src="https://cloud.githubusercontent.com/assets/559434/25239612/d5a8fb38-25c6-11e7-96f7-64996fcd41a7.png">

[2017-04-20 15:56] glauberramos commented on #138
It is a feature now, I removed the idea label.

[2017-04-21 16:32] glauberramos opened #171 "Having multiple columns open to edit, once you save one, save all"

[2017-04-22 17:30] #150 closed

[2017-04-28 10:04] DaddyBA commented on #170
Although I don't like this layout on mobile, what is the acceptance criteria. What is the specific problem being solved?

[2017-04-28 10:08] DaddyBA commented on #146
Hide votes/show votes feels different than start/sto. But I guess stop makes it seem like voting function will actually be disabled, so I see the problem with implementing this

[2017-04-28 10:09] DaddyBA commented on #145
+1

[2017-04-28 10:13] DaddyBA commented on #138
Is this usable now?

[2017-04-28 10:16] DaddyBA commented on #91
This is similar to show/hide votes
+1

[2017-04-28 10:55] miketwo opened #173 "Extract config from source code"
The firebase url `https://blinding-torch-6662.firebaseio.com` shows up in mutliple places in the code. It would be better to get this config either from the environment like:
[code]
...or dependency-injected like:
[code]
This allows for easier development. Devs can change a hidden config file or environment var instead of modifying source code.

There's a lot of ways to do it. Here's 2 options:
 -

[2017-04-28 12:32] markuspoerschke opened #174 "Setup number of votes per column"
Maybe it is useful to allow voting on cards per column. In our case the retrospective has the following process:

1. Everyone is allowed to write 4 Cards for "Went well" or "To improved"
2. Then we will read the cards together and every person can explain
3. Then we "cluster" the cards using the "merge" function
4. Then we vote on the cards
5. We talk about the most voted tasks and derive 3 action

[2017-04-28 15:01] glauberramos commented on #170
@DaddyBA the problem is mainly caused by the "remaining votes" functionality, where it is breaking the layout as you can see on the picture above.

[2017-04-28 15:10] glauberramos commented on #138
It is only on master, but it will be deployed to production soon.

[2017-04-28 15:11] glauberramos commented on #146
@DaddyBA what is the problem with implementing this? I didn't understand

[2017-04-28 15:43] glauberramos commented on #138
I just deployed to production 👯‍♂️

[2017-04-28 15:47] glauberramos commented on #174
Humm I understand what you are talking about. I never saw this use case before. Usually all the retrospectives that I did, if you create a "action item", that means it needs to be done. There is no votes.

I think this functionality will increase the complexity of the tool and maybe it is not that necessary. Don't you think having 7 votes, and them you guys manage how many per columns is enough?

[2017-04-28 16:39] markuspoerschke commented on #174
Actually you are right. Because it would make sense only for documentation purposes. Maybe we can keep it as an idea.

[2017-04-29 07:15] glauberramos commented on #174
@markuspoerschke let's see if more people are interested in this. If we see more demand we can maybe turn it latter into a feature. Thanks for the contribution anyway.

[2017-04-29 07:40] #138 closed

[2017-05-01 12:21] DaddyBA commented on #170
Mostly I don't like seeing 1 column at a time. Might not be feasible to layout multiple columns

[2017-05-01 12:30] DaddyBA commented on #146
Hiding and showing vote counts on the cards to avoid "grandstanding " solution makes sense.
Start voting and stop voting would be more challenging. Depending on the messaging, it could also be confusing. You would probably need 3 states. "Voting has not begun ", "Voting is in progress ", "Voting has ended " as well as a way to switch between states. Some will likely close voting early and eventual

[2017-05-01 15:46] cawlin commented on #109
Is deploying the code in current state possible? Anything that needs to be addressed that isn't currently documented?

Sorry fi this is the wrong place to ask this question :)

[2017-05-01 22:13] glauberramos commented on #109
@cawlin I don't know exactly because I never tried firebase hosting. Can you give me your thoughts why do you think this is a good idea? Right now we are using github pages and as far as I know it is working pretty well, and it is free.

[2017-05-01 22:51] cawlin commented on #109
@Glauberamos oh I thought this was for hosting the distributed app (like self hosting a version on firebase).

I am looking to host my own instance of distributed and saw this before trying!

[2017-05-01 23:38] glauberramos commented on #109
Oh I see, this could be as well for self hosting, but I think it was created for hosting the current online tool that we have hosted on github pages right now.

[2017-05-02 03:09] #101 closed

[2017-05-02 04:05] glauberramos commented on #173
I added a config file and all references to the firebase config were removed from the code

[2017-05-02 04:05] #173 closed

[2017-05-02 05:28] #162 closed

[2017-05-02 05:55] glauberramos opened #177 "Add admin side panel"
I will add details here later

[2017-05-02 20:16] alvarocavalcanti opened #179 "Negative votes!"
When trying to remove my vote from a card, the count became negative.

<img width="450" alt="screen shot 2017-05-02 at 17 10 09" src="https://cloud.githubusercontent.com/assets/512234/25637335/0713473a-2f5b-11e7-8904-f702639880eb.png">

[2017-05-03 01:55] DaddyBA commented on #167
Maybe shift+enter?
Cmd+enter seems out of sync with other keystrokes in other apps

[2017-05-03 02:02] DaddyBA commented on #153
Sometimes we use this for what I call a 'living retro '. I am using it for a multiple-team retro (40-50 people, multiple sites)
Having an anonymous version is still important, but a version like this would be very helpful.  even in small but distributed teams

[2017-05-03 04:34] glauberramos opened #180 "Extra white line on header on windows"
<img width="818" alt="screen shot 2017-05-03 at 01 33 30" src="https://cloud.githubusercontent.com/assets/559434/25648271/9dd1ae56-2fa0-11e7-90bc-cecd55b36521.png">

[2017-05-03 12:02] alvarocavalcanti commented on #146
Oh, nicely put. That makes totally sense. :)

Em seg, 1 de mai de 2017 às 09:30, DaddyBA <notifications@github.com>
escreveu:

[2017-05-04 06:56] #179 closed

[2017-05-04 06:57] #180 closed

[2017-05-04 08:31] glauberramos opened #182 "Empty column name"

[2017-05-04 08:44] glauberramos opened #183 "When adding cards, sometimes cards don't go to last position"

[2017-05-05 00:04] katharinekerr commented on #167
Shift-enter actually sounds better

[2017-05-05 04:46] pamo commented on #152
Are all unicode characters supported in the input? ⌨️
`ctrl + ⌘ + space` opens the emoji picker on mac.

[2017-05-05 04:47] pamo commented on #152
Here's an example with 'emoji support' http://funretro.github.io/distributed/#l32mxdb

[2017-05-05 04:48] glauberramos commented on #152
It opens on mac but it is not very intuitive. Not everybody knows about it. I think if we implement a feature that works everywhere, and it just opens a modal to select some emojis, maybe it will be a better experience and work for everyone.

[2017-05-05 04:51] glauberramos commented on #152
Maybe we could add a link/button that triggers `ctrl + ⌘ + space` only on mac. That would be like a MVP of the feature.

[2017-05-05 05:05] pamo commented on #152
Seems reasonable but at that point you might as well add the emoji picker 😛 . I say this because you'd be binding a combination of key events to a button and then those key events would only be supported by one operating system, so you would have to determine the user's OS and only show the button if it's Mac.

[2017-05-05 05:18] #159 closed

[2017-05-05 06:32] glauberramos commented on #177
https://material-components-web.appspot.com/drawer/temporary-drawer.html

[2017-05-06 06:39] DaddyBA commented on #174
I like the idea of voting by column. Especially if you go beyond the 3basic columns

[2017-05-08 15:38] glauberramos commented on #174
@DaddyBA I really think this is not necessary for now. It will add more complexity to the tool, more configuration, more code, etc.

The main goal of this tool is to keep it simple to improve the user experience. That's why it has been working with many teams across many countries and its been used by so many people.

I can maybe keep it open and see if more people will complain about it. But I ha

[2017-05-08 18:36] DaddyBA commented on #174
How comparable is 2or3 through the feedback button. Sounds like you have 4or5 confirmed interested parties. Typically only about 1/7 or less of population complains. This might be higher demand than it appears 😀

[2017-05-08 19:27] glauberramos commented on #174
That's a good point. But I will keep it on "Idea - not priority" until I am more confident that we should implement that. I really don't want to make Fun Retro a complicated tool to use. I feel most of the success it had so far was because it is a simple and easy to use tool. Does it make sense?

Thanks,
Glauber

[2017-05-08 19:42] DaddyBA commented on #174
Sounds good!

Thank you

Bryan Shannon

[2017-06-06 06:32] anton-gorbikov opened #186 "Unable to change cursor position in text areas in Firefox"
Steps:
1. Open Firefox;
2. Create new board and add new message;
3. Type some text and try to change cursor position using mouse;

Actual Result:
- It's not possible to change cursor position or select text using mouse;

Expected Result:
- It's possible to change cursor position or select text using mouse;

Possibly it's the result of known FF issue: https://bugzilla.mozilla.org/show_bug.cgi?id=80

[2017-06-07 07:39] anton-gorbikov opened #188 "Add ability to filter cards"
It's a nice to have feature to be able to filter cards. For example if we talking about standard column "to improve" and "action items". Sometimes action items are based on things that should be improved. Hence I want to have an ability to display only "related" messages on the screen and focus on them.

To achieve this I can add prefixes to messages, e.g. "A:", "01:", etc. and then use these pref

[2017-06-19 18:31] kitsuphat2528 commented on #188
Follow the steps. Thank you.

[2017-06-28 18:56] skenefick opened #190 "Can't create board with IE11"
Create button is permanently disabled in Internet Explorer 11.

![image](https://user-images.githubusercontent.com/4314681/27654751-9c3cd09a-5c08-11e7-974b-d2558a244372.png)

Here is the console error:
`TypeError: Object doesn't support property or method 'isInteger'
   at $scope.isMaxVotesValid (http://funretro.github.io/distributed/main.js:226:9)
   at fn (Function code:2:354)
   at h.prototype.

[2017-06-29 14:36] glauberramos commented on #190
That's a good point, thanks for finding it. Are you keen to open a PR for that? It should be simple to fix.

[2017-07-05 21:58] #190 closed

[2017-07-06 11:01] renoth opened #192 "Add the possibility to limit votes per column"
It would be awesome if you could define the maximum votes per column.

[2017-07-06 14:16] #143 closed

[2017-07-10 15:43] clarkmalmgren opened #195 "Sorting by created date no longer works"
This appears to be a recent issue. But now even when sorting by created date, the issues re-sort every single time someone votes on an issue. Although the wack-a-mole experience is fun, it isn't exactly efficient.

[2017-07-10 16:37] glauberramos commented on #195
Good point I will take a look into it

[2017-07-12 15:03] #144 closed

[2017-07-12 15:04] #41 closed

[2017-07-12 15:28] #195 closed

[2017-07-12 16:37] #188 closed

[2017-07-12 16:40] #183 closed

[2017-07-12 16:40] #182 closed

[2017-07-15 16:40] glauberramos opened #196 "Store sort order on URL"
It would be nice to store the sort order on the URL so people can share the URL with a specific order.

[2017-07-16 04:35] glauberramos opened #197 "Buttons on sidebar don't have hover effect"

[2017-07-18 07:19] glauberramos opened #198 "Can't open more than 1 board at the same time"

[2017-07-18 07:42] glauberramos commented on #198
Bug fixed but there is a issue a permission issue when you have 2 boards opened and you try to edit one after the other

[2017-07-18 07:45] glauberramos opened #199 "If a board is deleted and an user try to access it, show a better message"
Not it keeps loading forever

[2017-07-20 20:09] vhetet commented on #132
@glauberramos I think it could be really useful when a cards is not really clear or when a user want to add something to this card.
During my team retro today one of the card was not really clear and I was thinking that comments would be useful to as what this card exactly meant.

[2017-07-20 20:16] glauberramos commented on #132
@vhetet If a card is not clear, why not just rewrite it? That's the point of anyone being able to write on the cards.

[2017-07-20 20:20] vhetet commented on #132
ok but if you don't know what the person meant in the first place you can't rewrite it

[2017-07-20 20:24] glauberramos commented on #132
Just trying to understand better your need here.

Were you doing a live retrospective? Everybody together on the same call? Is asking the person that wrote an option?

[2017-07-20 20:29] vhetet commented on #132
What we usually do is adding the card before the retro so we are not talking at this time. And then during the retro we sort them and prioritize them depending on the vote they got.

[2017-07-20 20:45] glauberramos commented on #132
Yeah that's make sense. I didn't know people were doing async retrospectives. Most of the retrospectives I saw and participated were live. Everybody writing at the same time, so it was easy to just ask someone about a card. Thanks for sharing your experience.

[2017-07-20 20:59] vhetet commented on #132
That's what we were doing but we found out we were spending too many time talking about what was the card and not enough about how to tackle the problem on the card. We are still experimenting though but it's working pretty well so far.
Anyway thank you for building that tool, it's pretty cool.

[2017-07-21 17:56] #177 closed

[2017-07-21 17:56] #169 closed

[2017-07-21 17:57] glauberramos commented on #192
duplicate of #174

[2017-07-21 17:57] #192 closed

[2017-07-21 20:20] glauberramos opened #201 "Be able to unmerge cards"

[2017-07-21 20:39] glauberramos opened #202 "If you add too much votes the layout breaks on the second line"

[2017-07-22 08:14] #170 closed

[2017-07-22 08:21] #197 closed

[2017-08-01 23:03] mshank opened #203 "I can edit other people's cards. I don't want to be able to edit other people's cards or have people edit my cards."
## Description

Add feature X to Fun Retro

## Motivation

I want this feature because my team has this necessity when doing retrospective in this way

## Expected Behavior

Clicking on button should add a card

## Actual Behavior

Card is no being added

[2017-08-01 23:07] mshank opened #204 "Export to excel spreadsheet"
## Description

Add a feature to export board to excel spreadsheet format. This will allow categorization and archiving or retrospectives which is needed for my team and company.

## Motivation

I want this feature because my team has this necessity when doing retrospective in this way.
Without the export feature there's no way to keep a record and measure impact across sprints.

[2017-08-01 23:09] mshank opened #205 "Add a way to label/categorize cards within each column."
## Description

As a user and product owner or project manager, I would like to categorize and label each card in order to keep track of the type of issues that come up from sprint retro to sprint retro in order to keep a longitudinal count of the types of things that go well or concerns that arise.

## Motivation

I want this feature because my team has this necessity when doing retrospective in

[2017-08-02 07:22] glauberramos commented on #203
I think this is pretty valid, but it is a little bit hard because of how the app is architected right now, but it is not impossible.

[2017-08-10 21:02] #152 closed

[2017-08-14 21:01] glauberramos opened #207 "Change column by swiping on mobile"

[2017-08-24 21:16] miketeve opened #209 "Cannot drag cards to merge or between different columns"
- User must be able to merge cards (this functionality used to work)
- User must be able to drag cards from one column to another column

Clicking on button should add a card

- Cards will drag but cannot be merged or moved between columns
- Tested on IE v11 and Chrome v60

[2017-08-24 23:03] glauberramos commented on #209
Going to fix it.

[2017-08-25 00:48] glauberramos commented on #209
FIxed

[2017-08-25 00:48] #209 closed

[2017-08-29 16:27] francisluong opened #210 "Need a bit more help from the Readme.md on Firebase setup"
Hi,

I'm trying to get my own copy working on my box but I'm not clear on how to get the API key from firebase.

I have setup a firebase project.  If I choose [Settings Gear] -> [Project settings]:
 - I can find a Web API Key under `General`.
 - I can find `Server Key`, `Legacy Server Key`, and `Sender ID` under cloud messaging.

Which settings do I use to populate the [firebaseInitialization.js](

[2017-08-30 06:17] glauberramos commented on #210
You no to click on "Add firebase to your web app"

<img width="617" alt="screen shot 2017-08-30 at 03 16 47" src="https://user-images.githubusercontent.com/559434/29857961-bcc8c9b8-8d31-11e7-991f-64a02c4093b9.png">

And copy everything into firebaseInitialization.js.

I hope that helps you.

[2017-09-02 04:12] #210 closed

[2017-09-26 14:54] jd1 opened #211 "→ breaks the PDF export"
## Expected Behavior
When I export a board including a → in an item, I expect that this character is contained in the PDF export and the layout isn't broken.

## Actual Behavior
The PDF export contains !’ instead of → and the layout isn't broken for this item.

## Example
[This](https://github.com/funretro/distributed/files/1333582/Test.pdf) is the export from a [testing board](https://funretro.gi

[2017-10-01 19:40] jimjja commented on #196
I can work on this

[2017-10-06 21:01] cawlin commented on #142
Just noodling on how this could look. Forgive me for playing with a few other changes in the same area. I've been thinking about how "adding" new items could be more prominent and "removing" columns would be more obvious if it used the same "trash" icon as items.

![colour-picker](https://user-images.githubusercontent.com/370173/31298368-1ab72f82-aaa7-11e7-80ea-f4173e3c0926.png)

![full-view](http

[2017-10-07 22:50] glauberramos commented on #142
I like this design but I am not sure if the "+ add new" button is it the best place. It looks a little out of the place there. I already had an idea of having a textbox after the column name that you can type and after you hit enter the card is created. So in the case there is no need for buttons.

[2017-10-09 00:29] cawlin commented on #142
@Glauberamos Interesting - sure let me see what that would look like after this weekend. I don't like my "add new" button much either, I just wanted to make a bigger more clear target than the current blue plus icon.

What do you think about the header and the colour picker? Is this along the lines of what you were imagining?

[2017-10-09 19:49] glauberramos opened #214 "Instructions on how to deploy to github pages"

[2017-10-12 04:14] BlexBaker opened #215 "Censor text when editing a previously saved card"
## Description
Related to closed issue #63 (Be able to write cards without everyone see it before you save). Currently, text is censored when typing a new card and visible to everyone after it's saved. However, if you edit that card, then your text is visible as you modify it. I'd suggest censoring the text any time it's being edited.

## Motivation
The motivation is the same as the original issue

[2017-10-12 04:49] pamo commented on #215
I can take a stab at this.

[2017-10-13 17:25] cawlin commented on #142
@glauberramos is this sort of what you had in mind?

![text-boxes](https://user-images.githubusercontent.com/370173/31558184-23e017f6-b009-11e7-99b8-e1b06a94d2c8.png)

[2017-10-17 20:00] BlexBaker commented on #215
Hi @pamo I saw you assigned yourself to this issue, so I wasn't intending to address it in my pull request which responds to #151. I'm only toggling censor text when cards are created (the current behavior) not any time they're being edited.

It occurs to me now that my variable names might be misleading. But I had meant to leave my code open to allow you to add the changes related to #215. Sorry

[2017-10-17 20:23] pamo commented on #215
Ohh gotcha! Cool I can still pick this up once your PR goes through.

[2017-10-17 21:09] Acrylami opened #217 "Need some help setting up local environment- can't create boards"
Hi, I'm just getting started with open source and would appreciate help in getting started.
I've installed Node JS, Gulp, and set up the Firebase, but when I go to my http://localhost:4000 and attempt to create a new board it just loads forever....

Could anyone assist me in fixing this? I feel as if I'm missing something.

[2017-10-18 16:43] viniciusrdacosta opened #218 "Render Hyperlinks inside a card"
## Description

Add capability to render links inside a card.
Would be good to have a way to add hyperlinks inside a card.

Currently when I added a external link inside a card funboard displayed it as a text

<img width="1272" alt="screen shot 2017-10-18 at 14 32 21" src="https://user-images.githubusercontent.com/1073869/31730607-354eab4a-b411-11e7-8260-868d489d5bff.png">

## Motivation
I want th

[2017-10-19 02:14] BlexBaker commented on #217
@Acrylami Do you see any errors in your console when this happens? I had this same problem when I didn't have my firebase authentication set up correctly. If that were the case, you'd see an error related to your API key.

[2017-10-20 01:41] glauberramos commented on #217
@Acrylami did you add your js/vendor/firebaseInitialization.js with your firebase configuration?

[2017-10-20 01:43] glauberramos commented on #218
That's a nice suggestion, thanks

[2017-10-20 01:46] glauberramos commented on #215
Hey guys, I thought of this issue before, but I couldn't figure out a way to disable the edit view if a user just closes the site without clicking on save. We don't have login right now, so we can't rely on session. Any idea?

[2017-10-20 01:57] glauberramos commented on #142
Yeah that was the general idea, but without the done button and just a single line. What do you think about it? It may improve the experience because people will not see others typing when the card is being created.

[2017-10-20 02:21] #196 closed

[2017-10-20 04:11] #151 closed

[2017-10-20 04:30] glauberramos commented on #215
I did it and it is on production already with #151

[2017-10-20 04:30] #215 closed

[2017-10-20 14:29] mfgea opened #220 "Ability to show cards with different layouts"
## Description

Right now the cards are only shown in a column based layout. It would be nice to be able to, for example, show an expandable/collapsable block of cards.

## Motivation

As we were going through a pretty standard column set (good/to improve/action items) we focused a big part of the retro on the 'to improve' column, that contained about 20 cards. We had to keep scrolling up and down

[2017-10-20 18:22] Thirdoptics commented on #218
I'll have a go at implementing this, seems like a fun basic problem to tackle.  Should I just start with basic parse and replace for http links or would there eventually be a need for more markup options like bold, italics, quotes, etc?

[2017-10-20 23:25] glauberramos commented on #218
I think we can start with links first

[2017-10-22 03:27] pamo opened #221 "[chore] Update Version of Node"
## Description
When I try to run the app locally I get this error when running `gulp`
[code]

## Motivation
This seems to be an issue with versions of Node < 6 https://github.com/sindresorhus/gulp-autoprefixer/issues/83

Updating the project version of node would benefit future development since Node 5 no longer has [long-term support](https://github.com/nodejs/Release#release-schedule1) and [intr

[2017-10-22 04:43] #221 closed

[2017-10-22 05:04] pamo commented on #217
Honestly, the documentation is not very clear around where you need to go in the firebase console to get started for new contributors.
For example, you have to create a new app and then go to project settings to find `YOUR_PROJECT_ID` and `YOUR_API_KEY`
![image](https://user-images.githubusercontent.com/784889/31858394-58f7c008-b6ab-11e7-8733-23a011c46f67.png)

and then `YOUR_MESSAGE_ID` is referr

[2017-10-22 05:49] pamo commented on #218
I picked this up @viniciusrdacosta @Thirdoptics @glauberramos, hope you don't mind!

[2017-10-22 17:59] Carouelle commented on #211
Beginner here, I want to look into this :)

[2017-10-22 19:36] glauberramos commented on #211
@Carouelle please go ahead

[2017-10-23 04:03] Carouelle commented on #211
It seems the problem is caused by the jsPDF dependency, with support for some kinds of Unicode character codes being broken. The issue can be recreated on their demo page quite easily.
http://rawgit.com/MrRio/jsPDF/master/

I've submitted an issue on the project's page and I may start to look deeper into it some time tomorrow. https://github.com/MrRio/jsPDF/issues/1485

[2017-10-23 04:16] glauberramos commented on #211
take a look into this https://github.com/MrRio/jsPDF/issues/12

[2017-10-23 10:11] Carouelle commented on #211
I suspected this, and also got confirmation on my issue. So I guess our best course of action is to wait for the implementation of utf-8?

[2017-10-23 15:33] glauberramos opened #224 "Card getting stuck"
https://youtu.be/KiBXcZRqPNk

[2017-10-23 15:49] Thirdoptics commented on #218
Thanks for picking this up @pamo, I'd missed this was an angular based project before I opened my mouth, would've been a good excuse to stretch the Javascript muscle, but probably best you picked it up.

[2017-10-28 02:12] pamo opened #225 "Enable ES6"
## Description

Update JSHint to allow ES6.

## Motivation
The support for ES6 has grown a lot. There's no need to do transpilation to use its features.
http://kangax.github.io/compat-table/es6/

## Expected Behavior

Use es6 features such as arrow functions in development and see that the application is interpreted by all browsers.

## Actual Behavior

Build fails because we haven't enabled es6.

[2017-10-29 15:32] glauberramos opened #226 "Remove analytics from the source code"

[2017-10-29 22:51] glauberramos commented on #211
I guess so, or we can take a look into another library, but that would require rewrite the whole feature

[2017-10-29 22:51] glauberramos commented on #211
I think we should hold that for now

[2017-10-31 17:57] glauberramos opened #227 "Better feedback when copy board to clipboard"

[2017-11-01 10:50] Roshanjossey opened #228 "[Setting up funretro] Signup issue while creating new board"
Hey @glauberramos, long time

## Description

While setting up funretro, On creating a new board, I get a bad request error

## Expected Behavior

Retro board should be created on clicking create

## Actual Behavior

There is a bad request error

[code]

I understand this is caused because of a signup problem. I don't remember getting this when I was setting it up 1 year back.

## Suggested soluti

[2017-11-01 11:32] Roshanjossey commented on #225
@pamo, are we planning to remove JSHint and have eslint instead?

@glauberramos, have you started working on this?

[2017-11-01 13:46] pamo commented on #225
@Roshanjossey that's even better

[2017-11-01 14:30] glauberramos commented on #225
@Roshanjossey I didn't start it, please go ahead if you want to work on it

[2017-11-02 02:04] vhetet commented on #186
why is this bug still open? It looks like @anton-gorbikov fixed it :)

[2017-11-02 02:23] #186 closed

[2017-11-06 09:04] JavierLight opened #231 "Slack Bot integration with FunRetro"
## Description

Fun Retro integration into Slack using a bot.

## Motivation

Would be great to be able to type /newfunretro in my Slack team and get the link for a new FunRetro (instead of creating a new one using the buttons in the webpage). A customizable Name for the Board would be passed as an argument in this command.

## Why do I need your help?

I would be more than pleased to contribute c

[2017-11-06 17:47] glauberramos commented on #231
The problem is that we don't have server side for that app right now. So there is no way of creating an endpoint for that. But maybe we can create a simple server in order to do that. That would be great to do actually.

[2017-11-06 22:33] gamichalski commented on #145
+1

[2017-11-07 13:56] JavierLight commented on #231
I'm sorry I didn't explain myself properly. What I meant is to avoid the need to:

- Press on the `New Board` button.
- Input the name of the board.
- Press again the `New Board` button.

If you could create a new endpoint being [http://funretro.github.io/distributed/newboard?name](http://funretro.github.io/distributed/newboard?name), its response being the URL of the new board, that would be perf

[2017-11-07 14:49] glauberramos commented on #231
That's the issue, the application right now is pure static, only runs on the client side. There is no way of creating what you are asking for. There is no code running on the server side. We use a service called Firebase that handles everything, and that server is called from the client side.

We would need to create a simple node express server to handle what you are asking.

Did you understand n

[2017-11-07 15:32] JavierLight commented on #231
Sorry again, I misunderstood your first message. That would be awesome! Hoping that somebody can create that simple node express server (I don't even know how to start).

[2017-11-07 16:10] glauberramos commented on #231
Yeah I think it would be nice to create this simple node express server. I will see if I can do it on my free time but right now I am quite busy. It would be nice if someone else tries it as well. Maybe @pamo or @Roshanjossey?

[2017-11-08 00:25] cawlin commented on #142
@Glauberamos yeah we can jam on the the button placement and how "adding" a new card works in general.

Here's another quick take at it. Putting each column inside a container and full width buttons:
![column-full-width](https://user-images.githubusercontent.com/370173/32525234-a8c97ae4-c3e0-11e7-94b5-f98c4ec42c39.png)

[2017-11-08 01:31] glauberramos commented on #142
Another idea:

I prefer the color selection just flat color, without the border. In this idea here the delete button is hidden by default:

<img width="288" alt="screen shot 2017-11-07 at 23 29 04" src="https://user-images.githubusercontent.com/559434/32527084-b6c7f0f2-c413-11e7-859b-96c10ab1f702.png">

When you hover the delete button shows up:

<img width="293" alt="screen shot 2017-11-07 at 23

[2017-11-09 00:06] gramster opened #232 "Segfaults on start when run in Docker"
## Expected Behavior

It should not crash.

## Actual Behavior

Segfaults on start:

    [23:58:00] Using gulpfile /distributed/gulpfile.js
    [23:58:00] Starting 'bundle'...
    [23:58:00] Finished 'bundle' after 32 ms
    [23:58:00] Starting 'copy'...
    [23:58:00] Finished 'copy' after 8.66 ms
    [23:58:00] Starting 'express'...
    [23:58:00] Finished 'express' after 6.72 ms
    [23:58:00]

[2017-11-09 00:27] gramster commented on #232
Some more info; I tried Ubuntu instead of Alpine, and it gives more info:

App running and listening on port 4000

    events.js:141
          throw er; // Unhandled 'error' event
       ^
  TypeError: this is not a typed array.
    at Function.from (native)
    at /distributed/node_modules/gulp-autoprefixer/index.js:25:27
    at run (/distributed/node_modules/core-js/modules/es6.promise.js:66:22)

[2017-11-09 19:58] luchillo17 commented on #169
There's still no export feat, lacks deploy?

If there's an import CSV feat, why is not there an export one?

[2017-11-09 20:01] luchillo17 commented on #15
I think for pdf it is, however what for others like CSV? it makes sense to have an export & import feat for CSV, like if you want to save a session for future meetings.

[2017-11-10 00:08] gramster commented on #232
With some tweaking of the Dockerfile, I finally have it starting up. I get an endless spinner when I try to create a new board but that's a different issue so closing this.

[2017-11-10 00:08] #232 closed

[2017-11-10 12:54] glauberramos commented on #232
@gramster hey gramster where are you saving this docker image? Do you think this is something you could share with more people? Is it possible to upload do github?

[2017-11-10 12:57] glauberramos commented on #15
@luchillo17 there is another issue #204 that will cover CSV export

[2017-11-10 12:58] glauberramos commented on #169
@luchillo17 there is another card for that #204, do you think this is something you could work on?

[2017-11-10 14:40] gramster commented on #232
The endless spinner came from Firebase; I had to enable email/password auth for the project. So it seems to be working now although I see some errors in the JS console.

Right now the docker image has my Firebase details in it; I can look at splitting those out and publishing the image. I'll share the Dockerfile at least once I am back at work.

[2017-11-10 14:54] luchillo17 commented on #15
University & work have me like :sweat: , maybe after i finish this semester.

[2017-11-10 15:28] glauberramos commented on #232
Yeah I need to update that on README.md to inform people about enabling the email/password configuration. Good catch.

I was thinking about creating an oficial Funretro repository with the docker configuration. I can add you on this repository as well if you want. What do you think?

[2017-11-10 18:17] gramster commented on #232
Makes sense. For now, here is the Dockerfile I used:

    FROM node
    MAINTAINER Graham Wheeler

    RUN apt-get update && apt-get install -y ruby-dev build-essential
    RUN npm install -g gulp
    RUN npm install gulp gulp-cli

    COPY distributed /distributed/
    RUN cd /distributed && npm install
    EXPOSE 4000
    WORKDIR /distributed
    ENTRYPOINT ["gulp"]

[2017-11-14 15:54] yuki24 commented on #9
Has this ever been implemented? We'd like to deploy funretro but with an authentication layer and I wasn't sure [the `logUser` function does it](logUser) because email/password is literally hard-coded.

[2017-11-14 16:00] glauberramos commented on #9
@yuki24 it is not implemented. email/password is just for security reason when creating a board, it just works for the internal app as you said. I am building a new version that will contain auth, but it will be a paid version. Maybe in the future I can release a free version with login.

[2017-11-14 16:02] yuki24 commented on #9
@Glauberamos thanks for your super quick reply! I'm very much looking forward to the new version 😀

[2017-11-19 15:10] #218 closed

[2017-11-22 01:07] #146 closed

[2017-11-24 17:04] #204 closed

[2017-11-24 17:04] #201 closed

[2017-11-28 15:45] jd1 opened #236 "Comma breaks CSV import/export"
## Expected Behavior
When I export tasks that contain a `,`, I expect that this character is somehow escaped and not written like a separator in CSV. At the moment the values are concatenated by this code `csvText += nextValue + ','`

Try export and import [this board](https://funretro.github.io/distributed/#9002a7db-0570-43f6-a320-8a547a448a01) and see what happens.

## Actual Behavior

`,` is es

[2017-11-30 20:54] #236 closed

[2017-12-02 21:33] abiduzz420 commented on #214
Heyy @glauberramos @pamo could you elaborate regarding the subject of the issue ? Thanks!

[2017-12-13 21:14] #121 closed

[2017-12-17 06:03] pankti-m commented on #228
I am new to open-source and would like to make this my first contribution.  From the description, it seems like this involves a documentation change?

[2017-12-17 06:33] Roshanjossey commented on #228
@pankti-m, great to see you here. Yes, it is a documentation change. I'd urge you to set up funretro and find out why this is an issue. That way you'll have clarity on solution.

[2017-12-19 21:58] juventinoromero commented on #228
Hi! Is this issue resolved?

[2017-12-19 22:08] juventinoromero commented on #231
Hi @glauberramos , I'm new to contributing and to this project, but I might be able to help you out with creating the node express server.

[2017-12-19 22:19] glauberramos commented on #231
hey @juventinoromero, I think we should try first @Roshanjossey suggestion to use firebase functions. Can you install a local funretro version on your local machine and try to use firebase functions in order to create a board and return a board URL?

[2017-12-20 05:58] pankti-m commented on #228
Thanks.

I am getting some errors when trying to setup the environment.

Running 'gulp' throws an error -
"Error: Node Sass does not yet support your current environment: Linux 64-bit with Unsupported runtime (57)"

'npm install' in the repo did finish but had some warnings -
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operatin

[2017-12-20 06:47] Roshanjossey commented on #228
@pankti-m, could you please try solutions in https://github.com/sass/node-sass/issues/1651 to fix problem with node-sass?
I think warnings in `npm install` is okay.

I'm not sure if we have a supported OS, node versions recorded somewhere.
Rule of thumb would be to go with latest node
I'm using macOS and node 7.7.4 for funretro development.

[2017-12-20 18:11] juventinoromero commented on #231
@glauberramos sure, I'll give it a shot.

[2017-12-21 05:42] pankti-m commented on #228
Thanks for the info.  I was able to deploy the app and can see the error on the web console when creating a new board.  Will work on the patch next.

[2017-12-26 18:04] juventinoromero commented on #231
Hello @glauberramos, I think I can implement firebase functions. I've taken a look to the code but can't seem to understand how the app interacts with firebase.

[2017-12-26 18:11] Roshanjossey commented on #231
@juventinoromero, that's awesome.

I'll share what I understood by reading code here. @glauberramos, please jump in and correct me if I'm wrong.
Currently we're only using database feature of firebase.
To know more, read through https://github.com/funretro/distributed/blob/master/js/services/firebaseService.js and https://github.com/funretro/distributed/blob/master/js/mainController.js.

`firebase

[2017-12-26 20:34] juventinoromero commented on #231
thanks @Roshanjossey! I'm checking it out and it starts to make sense. I think the createNewBoard function in mainController.js is the one I need to implement in the /newRetro endpoint, isn't it?

[2017-12-26 20:38] glauberramos commented on #231
Yeah @juventinoromero, that's the method we need to implement.

[2017-12-28 01:40] juventinoromero commented on #231
Hey @glauberramos and @Roshanjossey , I'm not sure how to implement the createNewBoard in the firebase function. I'm not sure how angularworks and how to proceed with those $scope calls you make. Can you take a look at this file and somehow give me some guidance? https://github.com/juventinoromero/distributed/blob/newboard-endpoint/functions/index.js

[2017-12-28 16:58] glauberramos commented on #231
Hello @juventinoromero.

I don't think you should use angular at all and any other file from the application. Your function should be separated from the rest of the application.

I suggest you to use hardcoded values. You can copy the messageTypes, use 6 for max_votes, text_editing_is_private should be true. Also you should not use firebaseService but you should call firebase direct from you file

[2017-12-28 18:48] juventinoromero commented on #231
@glauberramos, it does! Thanks :smile:

[2017-12-29 18:46] juventinoromero commented on #231
@glauberramos can you have a look to some changes I've made? I'm working on figuring out why I get a request error, but I think I've made good progress. https://github.com/juventinoromero/distributed/blob/newboard-endpoint/functions/index.js

[2017-12-30 22:43] juventinoromero commented on #231
I've fixed the error, the api successfully creates a new user and a new board. @glauberramos can you insert the correct database info in firebaseInitialization.js to check if it works?

[2018-01-02 18:29] Paarmita commented on #79
Can I take up this issue? I am a beginner in angular so it would be great if you could provide some help :)

[2018-01-05 00:14] #228 closed

[2018-01-06 13:35] highskillzz commented on #227
is this issue taken ?

[2018-01-07 21:19] glauberramos commented on #227
Hey @highskillzz, it was not taken yet. If you want to do it, please go ahead. I was thinking something like a toast message that shows on the top right of the screen, then after sometime disappears.

[2018-01-07 22:16] #217 closed

[2018-01-07 23:25] glauberramos commented on #231
@juventinoromero the code worked perfectly 💃, I already merged your pull request, thanks for that.
@JavierLight we now have the endpoint you need for creating the slack bot. Here is the endpoint: https://us-central1-blinding-torch-6662.cloudfunctions.net/newboard?name=test

[2018-01-08 00:07] juventinoromero commented on #231
@glauberramos great news! 🕺 Thanks!

[2018-01-08 10:45] JavierLight commented on #231
You guys are amazing. Thank you very much for your time and effort!!

2018-01-08 1:07 GMT+01:00 Juventino Romero <notifications@github.com>:

[2018-01-30 20:52] vghosh0721 opened #242 "IDs on Fun Retro"
## Description

Add ids to cards

## Motivation

I want this feature because it will allow my team to quickly reference a card during discussion instead of having to read the title out loud.

[2018-02-04 18:38] Kiri23 commented on #231
What is the status of this. I want to help.

[2018-02-06 09:15] rohanBagchi opened #244 "Add firebase auth instructions in README"
## Description

Update `README` for Fun Retro. A fresh firebase project will start with all authentication options switched off; however the app requires auth to create new user, log him/her in and then push data to create boards and cards. This fails silently and error is only emitted in the console. We have to add an additional step in setup instructions that correctly guides new users/developer

[2018-02-06 13:02] glauberramos commented on #231
I think this is on hold, if you want to implement the slack plugin please go ahead @Kiri23

[2018-02-06 13:03] glauberramos commented on #242
I don' think this is part of the scope of the app.

[2018-02-06 13:03] #242 closed

[2018-02-06 15:43] kartik2406 commented on #39
Hey i came up with a basic solution to this. Do let me know if you want any UI changes.
![screenshot-2018-2-6 fun retro test](https://user-images.githubusercontent.com/24548910/35868453-9038a7e0-0b82-11e8-8794-cb0bf9f97677.png)

[2018-02-06 16:35] glauberramos commented on #39
I think the UI is good. Do you think the number of cards is useful?

[2018-02-06 17:06] kartik2406 commented on #39
Not so much as the cards are visible directly.

[2018-02-06 17:25] glauberramos commented on #39
@kartik2406 yeah, I think I will close this for now

[2018-02-06 17:25] #39 closed

[2018-02-06 17:26] #244 closed

[2018-02-06 17:26] #38 closed

[2018-02-06 17:38] Kiri23 commented on #231
But how do I do it with vanilla JavaScript because you don’t have a server/backend like for instance Node.js.

El 02/06/2018, a la(s) 9:02 a. m., Glauber Ramos <notifications@github.com<mailto:notifications@github.com>> escribió:

I think this is on hold, if you want to implement the slack plugin please go ahead @Kiri23<https://github.com/kiri23>

—
You are receiving this because you were mentione

[2018-02-06 17:41] glauberramos commented on #231
Firebase functions 💃

[2018-02-06 17:44] Kiri23 commented on #231
And what version of angular is this project build from. Is this angular 1 ?

El 02/06/2018, a la(s) 1:41 p. m., Glauber Ramos <notifications@github.com<mailto:notifications@github.com>> escribió:

Firebase functions 💃

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/funretro/distributed/issues/231#issuecomment-363504098>, or m

[2018-02-06 17:45] glauberramos commented on #231
You can check that on package.json

[2018-02-07 17:22] dillten opened #246 "CSV export broken for boards not using default columns"
## Expected Behavior

Using the CSV export should export data from all board columns.

## Actual Behavior

CSV export only checks for columns starting at 1 and up to _n_ number of columns. As the message filter uses this to filter the messages for export, it can miss messages that are created on columns other than the starting three.

Can be reproduced by deleting the base three columns and creati

[2018-02-07 20:08] #246 closed

[2018-02-08 01:52] #109 closed

[2018-02-10 03:38] pankti-m commented on #199
I will pick this up and try to work on the fix.

[2018-02-11 00:31] pankti-m commented on #227
I would like to pick up this bug if is not already taken.

[2018-02-12 13:48] glauberramos commented on #227
Please go ahead @pankti-m !

[2018-02-15 03:52] pankti-m commented on #227
There are multiple libraries for toast messages in Angular - angularjs-toast, toastr, ng-toast are some which I came across while searching.

I also found a couple of tutorials which simply use 'hideDelay'.

I am new to Angular so would like to know if one method is preferred over another.

Is

[2018-02-15 13:54] glauberramos commented on #227
I think you can use toastr. It looks like a nice library.

[2018-02-17 21:58] mariuslazar93 commented on #79
The [angularjs-dragula](https://github.com/bevacqua/angularjs-dragula ) module could be of help with this task.

[2018-02-21 04:58] Sneha-Watharkar commented on #79
Is this issue still open? Can I take it?

[2018-02-21 07:40] DaddyBA commented on #142
My 2 cents
I like the border around the color as it feels more like a button.
I like the hidden trash can
I like the full width add button.

[2018-02-25 06:44] pankti-m commented on #227
I have created the above commit with my first draft of the change, but it seems to be missing something.

The site does not load and the I see the following error on the debugger toolbar - [$injector:modulerr]

I am not sure if I have included the 'toastr' dependency correctly at all the required places.  I am new to Angular so unaware of some basics.  Any feedback/guidance on this patch will be h

[2018-03-09 00:16] will-swu opened #249 "De-dup feature"
Quite often with large groups, lots of people will add a similar item.  When we de-dup we'd like to increase the score count of that card so we don't split votes or lose votes.

[2018-03-14 16:09] samantharogers8 commented on #153
My team would definitely benefit from showing authorship! We're co-located and often have people in and out of our retros-- this would cut down on the "Who wrote this?" silence

[2018-04-13 13:58] fiendish commented on #203
I think you shouldn't really need either. Maybe you could set browser cookies for ownership?

[2018-04-17 08:30] igagrock commented on #227
Is this closed?

[2018-04-17 08:59] glauberramos commented on #227
Yes it is. I just need to create the PR.

[2018-04-17 08:59] #227 closed

[2018-05-15 18:09] glauberramos opened #250 "+ sign not showing on IE"

[2018-05-18 17:11] apriendeau commented on #153
A thought to this would not necessarily be authors but each connection could be a different color card? ¯\_(ツ)_/¯

We kept hijacking each other's cards.

[2018-06-02 12:33] prateek3255 commented on #142
I want to work on this issue. Should I work according to the last mockup provided by @glauberramos?

[2018-06-05 03:47] brunapereira commented on #171
Does this bug still exist?

[2018-06-05 04:17] glauberramos commented on #142
Hello @prateek3255, I will close this issue now because I already did the code on https://funuretro.io. I will just have to port to here.

[2018-06-05 04:17] #142 closed

[2018-06-05 04:18] glauberramos commented on #171
Yes I think so

[2018-06-05 04:19] glauberramos commented on #250
I am not sure, I guess IE 10 or 11. An user reported that, I didn't test it myself

[2018-06-05 16:58] brunapereira commented on #250
![photo4949659898803759094](https://user-images.githubusercontent.com/4603866/40990815-5a0043b0-68c8-11e8-925c-fa97b209c2ff.jpg)
IE11 Test

The plus sign is there, there are a few other layout bugs though.

[2018-06-22 14:32] alalialundy opened #253 "Stand Alone FunRetro board"
Since FunRetro Board runs on the client, do you offer a stand alone version that can be downloaded to my own servers?  Similiar to what Etherpad.org did?

[2018-07-27 13:42] cbier1 opened #255 "Add button disappears"
## Expected Behavior
The "+" button should not disappear when you click on it

## Actual Behavior
When you click on the "+" button it disappears and is replaced by a new card. The only way that I could find to get the "+" button to re-appear was to click the "Add" button on the newly created card.

## Why is this a problem?
We tend to add multiple cards per person per column so this bug makes it i

[2018-07-27 14:17] cbier1 commented on #153
We just add our names in the card contents. Usually by simply adding our initials at the end

![image](https://user-images.githubusercontent.com/19910177/43326236-50c6339a-9186-11e8-815c-8f1635d8bae3.png)

[2018-07-30 14:25] rokr opened #256 "New cards should be instantly added and put into edit mode (=blurred for others)"
For distributed teams it is easier (imho) to add cards make them visible but blurred (=edit mode). Then the team turns them around at the same time. That was a feature some time ago.

[2018-07-30 14:27] rokr opened #257 "Make sorting of columns possible"
## Description

Add column sorting feature

## Motivation

I want this feature because i want to add columns at first position.

[2018-07-30 18:52] glauberramos commented on #253
If you want you can download this repository and install on your own servers.

[2018-07-30 18:52] #253 closed

[2018-07-30 19:00] glauberramos commented on #255
From what I understand you used to keep all cards in "edit" mode and only close them after everyone finished writing the cards. So no-one would see other people cards.

Correct?

[2018-07-31 15:06] glauberramos commented on #256
I added a new option now to add multiple cards before showing to everyone.

[2018-07-31 15:06] #256 closed

[2018-07-31 15:06] glauberramos commented on #255
Fixed, you can now add multiple cards before showing to people.

[2018-07-31 15:06] #255 closed

[2018-07-31 15:07] glauberramos commented on #257
I will work on it, thanks.

[2018-07-31 15:16] glauberramos commented on #249
I am not sure I understand this feature. Because you can merge cards if you want.

[2018-08-21 02:26] gramster commented on #214
github pages is for static sites. This would require removing the dependency on node so that everything ran client-side.

[2018-08-21 02:27] gramster commented on #214
Oh, and everything would be public on gh-pages including things like API keys. So its a nice idea but not realistic.

[2018-08-22 01:49] bccurry opened #258 "Include Database Permissions in Local Environment Setup Instructions"
## Description

Include Database Permissions in Local Environment Setup Instructions to Fun Retro

## Motivation

I want this feature because I was unable to create a new board without modifying the firebase database read/write permissions. The permissions are initially set to false and will need to be set to true in order for the application to interact with the database.

<img width="1351" alt="

[2018-09-18 17:42] clawOndeck opened #259 "Unable to create first board"
Hi,

We are trying to set up a FunRetro and got the app running. However, we are not able to create a board.

Clicking on new Board with a random name and hit Create will lead us to a "connecting" state as shown in the screen shot below:

![screen shot 2018-09-18 at 1 37 37 pm](https://user-images.githubusercontent.com/20110423/45705640-1a6a1780-bb48-11e8-8f27-1b01b2b8fc92.png)

Are they any log t

[2018-09-24 13:26] atroutt commented on #258
I'd recommend at least having the rules require a logged in user
[code]

[2018-09-26 10:30] rokr opened #260 "Merging cards is sluggish"
## Expected Behavior

Dragging on card over another and release mouse should merge both cards.

## Actual Behavior

Dragging one card over another one often doesn't let the cards be merged but sorts the dragged card above or below the targeted card.

[2018-10-03 05:52] PixleProgrambetaxl commented on #199
+1

[2018-10-03 05:52] PixleProgrambetaxl commented on #79
+1

[2018-10-03 21:34] glauberramos commented on #260
I am aware of this issue, I will try to fix it as soon as I have time.

[2018-10-04 18:48] clawOndeck commented on #259
Hi,

Can we please get some support this is question? I found another similar question  https://github.com/funretro/distributed/issues/217 and has verified that our configurations are correct.

Any help is appreciated.

Thanks.

Chuan

[2018-10-05 15:39] glauberramos commented on #259
I will take a look on it and let you know.

[2018-10-05 15:42] clawOndeck commented on #259
Thanks. I saw another thread about modifying database rules. Now when I create the board I can see the data in the Firebase database, but front end is still spinning as in screen shot.

![screen shot 2018-10-05 at 11 40 47 am](https://user-images.githubusercontent.com/20110423/46545200-a9d73080-c893-11e8-9305-f58ed9214129.png)

[2018-10-08 10:37] ilconfa commented on #259
same problem :(

[2018-10-09 20:31] obv-mikhail commented on #96
@glauberramos what Firebase alternative do you think would be the easiest to integrate into Fun Retro right now? Would the whole app actually need to be rewritten? I only see Firebase references here - https://github.com/funretro/distributed/blob/master/js/services/firebaseService.js .

[2018-10-13 02:20] pamo commented on #199
Has this been addressed already?
![image](https://user-images.githubusercontent.com/784889/46900241-dec72280-ce53-11e8-8f11-79dda88e9ad3.png)

[2018-10-15 21:43] glauberramos commented on #199
The website funretro.io has a different codebase now that has been forked from this repository. I fixed this at this new repository but I still need to bring the changes back to this repository.

[2018-10-17 02:04] glauberramos commented on #96
I think a lot of code would have to be changed in order to support a new integration. Do you have anything in mind @obv-mikhail ? Maybe not a lot, but's it's not very easy task.

[2018-10-17 02:35] glauberramos commented on #96
I think it's fine if it's centralised, it would be nice to have an option where people can install the database locally instead of using on the cloud like firebase.

[2018-10-19 17:22] jmeadsync commented on #259
Having the same issue....confirmed firebase settings and data is created in the database, but unable to retrieve (just see the spinner and errors like:
[code]

[2018-10-19 21:53] glauberramos commented on #259
This should be fixed now

[2018-10-22 21:40] glauberramos commented on #259
Issue fixed

[2018-10-22 21:40] #259 closed

[2018-10-22 21:41] #226 closed

[2018-10-22 21:42] #214 closed

[2018-10-22 21:42] #88 closed

[2018-10-22 22:02] #167 closed

[2018-10-22 22:19] glauberramos commented on #258
Done

[2018-10-22 22:19] #258 closed

[2018-10-24 02:39] strobelt commented on #79
If this issue is still open I would like to help

[2018-10-24 23:45] #199 closed

[2018-10-25 01:44] glauberramos commented on #79
It's open

[2018-11-16 12:40] demkalkov opened #265 "Next note is overlapping emojis dropdown from the previous one"
![default](https://user-images.githubusercontent.com/783407/48621850-ee3b0d80-e9b5-11e8-8a2e-5afb225e03bf.png)

[2018-11-29 11:50] MaikuB opened #266 "Being able to merge a card to another merged card"
## Description

Add ability to merge a card to a card resulting from another merge

## Motivation

There are times where more than two team members will have the same idea. It would good to be able to merge all of their cards together and have the votes summed.

## Expected Behavior

Currently, it's possible to merge cards A and B together to a single card (A+B). Dragging card C to that merge shou

[2018-12-08 09:56] nspassov opened #267 "[Setting up] New board stuck on loading indicator"
When I open funretro and try to create a new board, I get stuck on the loading indicator and nothing happens.
 - In gulp console there are no errors
 - All 80 gulp tests run successfully
 - In Firebase a new entry in the Authentication section is created every time I load the funretro page
 - In Firebase in the Storage section no entries are being created

I saw other posts here with the same effe

[2018-12-10 20:36] duggym122 commented on #112
@glauberramos I know this is old, but I can speak to it. To maintain consistency, and aid in following up on items we have selected to monitor and track during retro sessions, we tend to use our funretro URL as long as it is available and keep "top voted" items in a special column. We want to be able to remove votes from the board so that items can be reconsidered without having to rely on each te

[2018-12-11 00:36] glauberramos commented on #266
that's possible to do yes

[2018-12-11 00:36] #266 closed

[2018-12-11 00:37] glauberramos commented on #267
Are you using latest code?

[2018-12-11 17:16] nspassov commented on #267
Latest master

[code]

[2019-01-25 15:49] robpridham-bbc commented on #267
I might know why this is. The documentation could do with a bit of work.

I knew that I needed to permit access to the database. However, if you go to your Firebase project, and the database section, you get this:

![image](https://user-images.githubusercontent.com/26543551/51756213-66aa0300-20b8-11e9-89f5-4fb0af49d792.png)

So the rules are accessed in the tab below, right? No - wrong database ty

[2019-01-25 17:47] nspassov commented on #267
@robpridham-bbc I owe you a beer!

[2019-01-25 17:47] #267 closed

[2019-02-05 17:08] glauberramos commented on #257
Duplicate

[2019-02-05 17:08] #257 closed

[2019-05-07 09:06] waninlezu commented on #96
@obv-mikhail check out my fork
https://github.com/waninlezu/distributed
http://waninlezu.github.io/distributed

[2019-05-07 20:06] xander-miller opened #268 "Blurred Cards can be moved by anyone"
## Expected Behavior

When a card is blurred only the person who can see the text can drag and drop the card

## Actual Behavior

Anyone can drag and drop a card if they have clicked on one of their own unblurred cards first.

[2019-05-08 00:34] obv-mikhail commented on #96
@waninlezu nice! I was able to port funretro to use Gun like I mentioned in the previous comment, and got authentication working through GitHub. The problem I faced with Gun was with setting up ACLs of any kind. ACLs should probably be simpler with feathers.

[2019-05-21 06:40] louis2688 opened #269 "Creating new board stuck on loading"
Hello @glauberramos,
I am trying to create new board but its stuck on loading

![image](https://user-images.githubusercontent.com/33972040/58073880-6210d980-7bd6-11e9-8062-2deea7d63eba.png)

any work around for this one? thanks

[2019-07-04 11:34] tutukin commented on #269
I experience the same problem. In Chrome inspector I've found a conversation with firebaseio.com. The browser sends the message to create a board, and the back-end responds with three messages:

[code]

[2019-07-04 12:11] tutukin commented on #269
After creating a database and fixing the rules in Firebase, creating a board works.

[2019-08-02 12:56] derekprior commented on #260
I've noticed tht I can merge cards just fine in Chrome, but in Safari, attempts to merge cards always result in re-ordering.

[2019-08-02 14:37] glauberramos commented on #260
Merge is improved now. @derekprior did you try to clear browser cache?

[2019-08-09 07:28] shtrom commented on #267
From quick tests, here's a better (i.e., not public to everything) ruleset:
[code]

[2019-08-10 00:13] lynnlangit opened #270 "Screenshot link 404 on Readme"
## Description

Screenshot link is 404 - should be this - https://github.com/funretro/distributed/blob/master/img/image1.png

## Expected Behavior

See screenshot

## Actual Behavior

Screenshot link #5 is 404

[2019-09-03 00:18] #260 closed

[2019-09-17 22:29] #6 closed

[2019-09-17 22:29] #54 closed

[2019-09-17 22:29] #91 closed

[2019-09-17 22:30] #102 closed

[2019-09-17 22:30] #79 closed

[2019-09-17 22:30] #112 closed

[2019-09-17 22:30] #131 closed

[2019-09-17 22:30] #132 closed

[2019-09-17 22:30] #153 closed

[2019-09-18 01:24] #202 closed

[2019-10-03 10:06] anaschwendler commented on #270
Hi @lynnlangit can I take this issue?

[2019-10-03 14:54] nikhilgoud commented on #270
Hey, @lynnlangit  the above link is broken. could you provide a valid screenshot